{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS Geolocation" %}{% endblock %}
{% block bodyclass %}geolocation geolocation-lastdevice page{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/geolocation/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}

    <div class="content" style="margin-top: -38px">

        <p>
            {% trans "aktuell gültiges Gerät:" %}
            {% if max_device %}
                {{max_device.name}} mit {{max_offset}}K
            {% endif %}
        </p>

        <p>
            {% trans "Info: Als gültiges Gerät wird immer das Gerät mit dem positivsten Offset identifiziert." %}
        </p>

        <p>
            letzte 3 Übertragungen je Gerät:
        </p>

        <div class="last-devices">
            {% if error %}
                <span style='color: #cb0963'>{{ error }}</span>
            {% endif %}

            {% for offset in lastoffsets %}

                {{ offset.created }}:

                {{ offset.device.name }} mit

                {{ offset.offset }}K

                <a href="/m_geolocation/{{ haus.id }}/delete/{{ offset.id }}/" class="delete-link"><span style="color: #cb0963">löschen</span></a>
                <br/>
            {% endfor %}
        </div>

    </div>

{% endblock %}