{% extends "m/m_base.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS Geolocation" %}{% endblock %}
{% block bodycls %}main-config-page geolocation page{% endblock %}
{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/geolocation/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
    {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">
            Geolocation
        </li>
        <li>
            <label style="margin:0px;border:0;" data-corners="false">
                <input type="checkbox" {%if r_m_active %}checked{%endif%}
                       name="right_menu" id="right-menu-ch" value='1'/>
                       Link zur Konfigurationsseite im rechten Menü anzeigen
            </label>

        </li>

        <li data-icon='false' style="padding:0px">
            <a href=" /m_geolocation/{{ haus.id }}/" target="_blank" style="text-align:center">öffne Benutzeroberfläche</a>
        </li>
        <li>
            <a href="/m_setup/{{ haus.id }}/geolocation/?add">neues Gerät anlegen</a>
        </li>
        <li data-role="list-divider">
            Angelegte Geräte
        </li>
        {% if devices %}
        {% for dev in devices %}
        <li>
            <a href="/m_setup/{{ haus.id }}/geolocation/?edit={{ dev.id }}">
                Gerätename: {{ dev.name }}
            </a>
        </li>
        <li style="text-indent: 2em">
            URL für {{ dev.name }}: [Server IP]/set/geo/{{ haus.id }}/{{ dev.uuid }}/[offset]
        </li>
        {% endfor %}
        {% else %}
        <li>
            -
        </li>
        {% endif %}
    </ul>

{% endblock %}
