{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/frei-programmierbare-steuerung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<ul data-role="listview" data-divider-theme="a" id="fpslist">
    <li data-role="list-divider" id="fpss">Angelegte FPS</li>
    {% if regs|length %}
    {% for fpsid, name, state in regs %}
    <li>
        <a href="/m_setup/{{ haus.id }}/fps/edit/{{ fpsid }}/">{{ name }}{% if state %}<br/><small>{{ state }}</small>{% endif %}</a>
    </li>
    {% endfor %}
    {% else %}
    <li>-</li>
    {% endif %}
</ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/fps/edit/' data-icon='gear'>FPS anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}