{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Differenzregelung{% endblock %}
{% block bodyclass %}page{% endblock %}
{% block mheader %}
{#        <a href="/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>#}
{% endblock %}

{% block mcontent %}
    <style type="text/css">
        div.ui-btn {
            font-weight: normal;
        }
    </style>

    <script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery.flot.time.js"></script>
    <script type="text/javascript">

        var data = {};
        var labels = {};

        var options = {
            lines: { show: true,
                     lineWidth: 1
            },
            xaxis: { mode: "time",
                timeformat: "%d.%m.<br/>%H:%M",
                timezone: "browser"
            },
            legend: {
                noColumns: 2,
                container: "#legendcontainer"
            },
            series: {
                shadowSize: 0
            }
        };

        $(document).ready(function() {
            {% for dregid, values in dregs.items %}
                $("#von_{{ dregid }}").val("{{ von }}");
                $("#bis_{{ dregid }}").val("{{ bis }}");
                data[{{ dregid }}] = {};
                labels[{{ dregid }}] = {};
                getData("{{ dregid }}", "dreg_{{ dregid }}_s1");
                getData("{{ dregid }}", "dreg_{{ dregid }}_s2");
                getData("{{ dregid }}", "dreg_{{ dregid }}_s3");
                getData("{{ dregid }}", "dregout_{{ dregid }}");
                drawLog("{{ dregid }}");
            {% endfor %}
        });

        function getData(dregid, objid) {
            var von = $("#von_"+dregid).val();
            var bis = $("#bis_"+dregid).val();
            $.ajax({
                url: "/m_logger/{{ haus.id }}/?gl=" + jq(objid) + "&von=" + von + "&bis=" + bis,
                dataType: "json",
                success: function(result) {
                    if(objid.indexOf("dregout") > -1) {
                        data[dregid]['position'] = result[2];
                        labels[dregid]['position'] = "Ausgang";
                    } else {
                        data[dregid][objid] = result[1];
                        if(objid.indexOf("s1") > -1) {
                            labels[dregid][objid] = "Kollektorsensor";
                        } else if(objid.indexOf("s2") > -1) {
                            labels[dregid][objid] = "Speichersensor unten";
                        } else if(objid.indexOf("s3") > -1) {
                            labels[mid][objid] = "Speichersensor oben";
                        } else {
                            labels[mid][objid] = "?";
                        }
                    }
                }
            }).complete(function() {
                $("#spinner_"+dregid).hide();
                drawLog(dregid);
            });
        }

        function drawLog(dregid) {
            options["legend"]["container"] = "#legendcontainer_" + dregid;

            var drawdata = [];
            $.each(data[dregid], function(k, v) {
                drawdata.push({data: v, label: labels[dregid][k]});
            });
            $("#placeholder_"+dregid).css("height", "400px");
            $.plot($("#placeholder_"+dregid), drawdata, options);

            $("#spinnerbr_"+dregid).empty();
            $.each($("#legendcontainer_"+dregid+" table td"), function(i, td) {
                if(i % 2 == 0) { // legendcolorbox
                    $("#spinnerbr_"+dregid).append("<div style='white-space: nowrap; display: inline-block'><span id='legend_" + dregid + "_" + i + "' style='height: 1em; width: 1em;'>&nbsp;&nbsp;&nbsp;</span></div>");
                    $("#legend_" + dregid + "_" + i).css("background", $(this).children(":first").children(":first").css("border-top-color"));
                } else { // legendlabel
                    var label = $(this).html();
                    $("#legend_" + dregid + "_" + (i-1)).after("<span style='font-size:small; padding-right:1em'>&nbsp;" + label + "</span>");
                }
            });
        }

        function update(dregid) {
            $.each(data[dregid], function(objid, _data) {
                getData(dregid, objid);
            });
        }

        function jq(myid) {
            return myid.replace(/[*]/g, "\\$&")
        }

        function get_Data(gwmac) {
        }
    </script>

    <ul data-role="listview" data-divider-theme="c" id="mrlv" style="margin-top: -8px">
        <li data-role='list-divider'>Differenzregelung</li>
    </ul>

    {% for dregid, values in dregs.items %}
        <ul data-role="listview" data-divider-theme="c" id="drlv{{ dregid }}" style="margin-top: -1px">
            <li data-role="list-divider" id='spinnerbrli_{{ dregid }}'>Differenzregelung {{ values.name }}</li>
            <li id="diag">
                <div style="height: 400px" id="placeholder_{{ dregid }}"></div>
            </li>
            <li id='spinner_{{ dregid }}'><div style="text-align: center; height: 16px"><img src='/static/images/ajax-loader.gif'/></div></li>
            <li id='spinnerbrli'><div id="spinnerbr_{{ dregid }}" style="white-space: normal; overflow: auto"></div></li>

            <div style="display: none" id="legendcontainer_{{ dregid }}"></div>

            <li style="padding: 0">
                <div data-role="collapsible" class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="zrcol" style="margin: 0">
                    <h5 style="margin: -1 10 -1 10px">Zeitraum</h5>
                    <input type="datetime-local" data-clear-btn="false" name="von_{{ dregid }}" id="von_{{ dregid }}" value="" data-mini="true" style="margin: 0;"/>
                    <input type="datetime-local" data-clear-btn="false" name="bis_{{ dregid }}" id="bis_{{ dregid }}" value="" data-mini="true" style="margin: 0;"/>
                    <a href="#" onclick='update("{{ dregid }}");' data-role="button" data-mini="true">Anzeigen</a>
                </div>
            </li>

        </ul>
    {% endfor %}

    </ul>

{% endblock %}
