{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Zeitschalter - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/zeitschalter/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Zeitschalter</h2>

    <h3>Funktionsweise</h3>

        <p>
            Der Zeitschalter (oder auch Abwesenheitsschalter) ist eine einfache Möglichkeit, die gewünschte Temperatur
            in einem Raum ab sofort für einen bestimmten Zeitraum anzuheben oder abzusenken.
        </p>

        <p>
            Ein Zeitschalter kann individuell durch Auswahl eines Zeitraums von bis zu 32 Tagen in 30 Minuten Schritten
            für einen Raum auf dessen Raumseite eingestellt werden oder durch die Abwesenheitsschalter-Funktion für das
            ganz Haus über den Link unten auf der Raumübersichtsseite. Ein Zeitschalter bzw. Abwesenheitsschalter kann
            auf der Raum- bzw. Hausseite auch einfach wieder entfernt werden vor dem regulären Ablauf seiner
            Gültigkeit.
        </p>

    <h3>Konfigurationsmöglichkeiten</h3>

        <p>
            In den Einstellungen kann ein Standard-Offset festgelegt werden. Dieser Standardwert ist dann in der
            hausweiten Abwesenheitsschalter-Funktion und in den raumindividuellen Zeitschalter-Funktionen als
            Vorauswahl eingestellt.
        </p>

{% endblock %}
