{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Logs{% endblock %}
{% block bodyclass %}page{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-logging/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<style type="text/css">
    div.ui-btn {
        font-weight: normal;
    }
    label.ui-btn {
        font-weight: normal;
    }
</style>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.time.js"></script>
<script type="text/javascript">

    var data = {};
    var labels = {};

    var options = {
        lines: { show: true,
                 lineWidth: 1
        },
        xaxis: { mode: "time",
            timeformat: "%d.%m.<br/>%H:%M",
            timezone: 'UTC'
        },
        legend: {
            noColumns: 2,
            container: "#legendcontainer"
        },
        series: {
            shadowSize: 0
        },
        colors: ["#cb0963", "#019bb0", "#f9b233", "#779a45"],
        grid: {
            markings: []
        }
    };

    function drawLog() {
        var drawdata = [];
        var markings = [];
        var all_ts = [];
        var has_data = false;

        $.each(data, function(k, v) {
            if(v && v.length) {
                has_data = true;
                if (k.startsWith("out_")) {
                    $.each(v, function (idx, mrkng) {
                        all_ts.push(mrkng[0]);
                    });
                } else {
                    drawdata.push({data: v, label: labels[k]});
                }
            } else {
                drawdata.push({data: v, label: labels[k] + " (keine Daten vorhanden)"});
            }
        });

        var unique_ts = Array.from(new Set(all_ts));
        unique_ts.sort();
        if(unique_ts.length) {
            var prev_ts = unique_ts[0];
            $.each(unique_ts, function (tsidx, ts) {
                var summarkng = 0;
                if(ts > prev_ts) {
                    $.each(data, function(name, points) {
                        if(name.startsWith("out_") && points && points.length) {
                            var prev_point_ts = points[0][0];
                            $.each(points, function(idx, point) {
                                if(idx > 0) {
                                    if(prev_point_ts == prev_ts || (prev_point_ts < prev_ts && point[0] >= ts) ) {
                                        summarkng += points[idx-1][1];
                                    }
                                } else if(points.length == 1) {
                                    summarkng += point[1];
                                }
                                prev_point_ts = point[0];
                            });
                        }
                    });
                    markings.push({xaxis: {from: prev_ts, to: ts}, color: summarkng});
                } else if(unique_ts.length == 1) {
                    $.each(data, function(name, points) {
                        if(name.startsWith("out_") && points && points.length) {
                            summarkng += points[0][1];
                        }
                    });
                    markings.push({xaxis: {from: prev_ts, to: ts}, color: summarkng});
                }
                prev_ts = ts;
            });

            $.each(markings, function (k, v) {
                if (v.color == 0) {
                    v.color = "#ccecf8"; // blue
                } else {
{#                    v.color = "#e799b3";#}
                    v.color = shadeColor2("#e799b3", 0.1-v.color/10); // red
                }
            });
            options['grid']['markings'] = markings;
        } else {
            options['grid']['markings'] = [];
        }

        if(has_data) {
            $("#placeholder").css("height", "400px");
            $("#spinnerbr").text("");
            $.plot($("#placeholder"), drawdata, options);

            $.each($("#legendcontainer table td"), function (i, td) {
                if (i % 2 == 0) { // legendcolorbox
                    $("#spinnerbr").append("<div style='white-space: nowrap; display: inline-block'><span id='legend_" + i + "' style='height: 1em; width: 1em;'>&nbsp;&nbsp;&nbsp;</span></div>");
                    $("#legend_" + i).css("background", $(this).children(":first").children(":first").css("border-top-color"));
                } else { // legendlabel
                    var label = $(this).html();
                    $("#legend_" + (i - 1)).after("<span style='font-size:small; padding-right:1em'>&nbsp;" + label + "</span>");
                }
            });
        } else {
            $.plot($("#placeholder"), [], options);
            $("#spinner").hide();
            $("#spinnerbrli").show();
            $("#spinnerbr").text("Keine Daten im gewählten Zeitraum vorhanden.");
        }
    }

    function shadeColor2(color, percent) {
        var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
        return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
    }

    function getData(objid) {
        var von = $("#von").val();
        var bis = $("#bis").val();
        $.ajax({
            url: "/m_logger/{{ haus.id }}/?gl=" + jq(objid) + "&von=" + von + "&bis=" + bis,
            dataType: "json",
            success: function(result) {
                data[objid] = result[1];
                labels[objid] = result[0];
            }
        }).complete(function() {
            drawLog();
            $("#spinner").hide();
            $("#spinnerbrli").show();
        });
    }

    function deselect() {
        data = {};
        $(".cb").each(function() {
            if($(this).prop("checked")) {
                $("#spinner").show();
                $("#spinnerbrli").hide();
                getData($(this).prop("id"));
            }
        });
    }

    $(document).ready(function() {
        $("#spinner").hide();
        $("#spinnerbrli").show();
        $(".cb").on("click", function() {
            if($(this).prop("checked")) {
                $("#spinner").show();
                $("#spinnerbrli").hide();
                getData($(this).prop("id").toString());
            } else {
                delete data[$(this).prop("id").toString()];
                drawLog();
            }
        });
        $("#abc .ui-collapsible .ui-btn a").css({"font-weight": "bold", "padding-left": "14px" });
        $("#abc").removeClass("ui-li-static ui-body-inherit");
        $("#von").val("{{ von }}");
        $("#bis").val("{{ bis }}");
        $("#zr").contents()[0].remove();
        $("#zr").contents()[1].remove();
        $("#placeholder").css("height", "400px");
        $.plot($("#placeholder"), [], options);
    });

    function jq(myid) {
        return myid.replace(/[*]/g, "\\$&")
    }
</script>

<form action="/m_logger/{{haus.id}}/" method="post" data-ajax='false' id='logform'>{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id="loglv" style="margin-top: -9px">
        {% if err %}
        <li data-role="list-divider">Fehler</li>
        <li>{{ err }}</li>
        {% else %}
        <li data-role='list-divider'>Logs</li>

        <li id="diag">
            <div id="placeholder"></div>
        </li>
        <li id='spinner' style="height: 20px;"><div style="text-align: center; height: 16px"><img src='/static/images/ajax-loader.gif'/></div></li>
        <li id='spinnerbrli' style="min-height: 20px; "><div id="spinnerbr" style="white-space: normal; overflow: auto"></div></li>
        <div style="display: none" id="legendcontainer"></div>

        <li data-role="list-divider" style="border-bottom: 1px solid #ccc">Zeitraum</li>
        <li id="zr">
            <input type="datetime-local" data-clear-btn="false" name="von" id="von" value="" data-mini="true" style="margin: 0;"/>
            <input type="datetime-local" data-clear-btn="false" name="bis" id="bis" value="" data-mini="true" style="margin: 0;"/>
            <a href="#" onclick="deselect();" data-role="button" data-mini="true" style="text-align: center;" data-corners="false">Anzeigen</a>
            <br/>
        </li>

        <li data-role="list-divider">Sensoren</li>
        <li style="padding: 0">
            <div data-role="collapsible-set" data-inset="false" id="rset" style="margin-top: 0px; margin-bottom: 0px;">
                {% for etage, raumdaten in data %}
                    {% for raum, sensoren, outs, ms, rlonly, raumid, icon in raumdaten %}
                        <div data-role='collapsible' class="ui-alt-icon" data-collapsed-icon="arrow-u"
                             data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" data-collapsed="true">
                            <h5 style="font-size: small; height: 28px; margin-top: 0px; margin-bottom: 0px">
                                <img src="/static/icons/{{ icon }}.png" alt="icon" class="ui-li-icon" height="15px" style="vertical-align: middle; margin: 0 10"/>
                                {{ etage }} / {{ raum }}
                            </h5>
                            <fieldset data-role="controlgroup" data-corners="false" style="margin-left: 20px;">
                                {% for sensor in sensoren %}
                                    <label>
                                        <input name="{{ sensor.get_identifier }}" id="{{ sensor.get_identifier }}" type="checkbox" class="cb" data-mini="true">{{ sensor }}
                                    </label>
                                {% endfor %}
                                {% if ms and not rlonly %}
                                <label>
                                    <input name="raum_{{ raumid }}_ziel" id="raum_{{ raumid }}_ziel" type="checkbox" class="cb" data-mini="true">Zieltemperatur
                                </label>
                                {% endif %}
                                {% for out in outs %}
                                <label>
                                    <input name="out_{{ out.0 }}_{{ out.1 }}" id="out_{{ out.0 }}_{{ out.1 }}" type="checkbox" class="cb" data-mini="true">Ausgang {{ out.1 }} an {{ out.0 }}
                                </label>
                                {% endfor %}
                            </fieldset>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <br/>
        </li>

        <li id="abc">
                <div data-role='collapsible' class="ui-alt-icon" data-collapsed-icon="arrow-u"
                                 data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" data-collapsed="true">
                    <h5 style="font-size: small; height: 28px; margin-top: 0px; margin-bottom: 0px">unzugeordnete Sensoren</h5>
                    <fieldset data-role="controlgroup" data-corners="false" style="margin-left: 20px;">
                            {% for sensor in other_sensors %}
                                <label>
                                    <input name="{{ sensor.sensor_id }}" id="{{ sensor.sensor_id }}" type="checkbox" class="cb" data-mini="true">
                                        {{ sensor.sensor_name }}{% if sensor.description %} / {{ sensor.description }}{% endif %}
                                </label>
                            {% endfor %}
                    </fieldset>
                </div>
        </li>

        <li data-role="list-divider">Download</li>
        <li style="padding: 0;">
            <a href="#" onclick="$('#logform').submit();" data-role="button" data-mini="true" data-corners="false" style="text-align: center;">Angezeigte Logs herunterladen</a>
        </li>

        <li id="error" style="display:none">
        </li>
        {% endif %}
    </ul>
</form>
{% endblock %}
