{% extends "m/m_base_new.html" %}
{% block title %}Smart-Heat-OS Vorlauftemperaturkorrektur{% endblock %}
{% block bodyclass %}page vorlauftemperatur{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/vorlauf-korrektur/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<style type="text/css">
    @media (max-width: 60em) {
        #correction-heating-element-wrapper .ui-checkbox {
            float: right;
            margin: -22px 12px 0 0;
        }
    }

    @media (min-width: 60em) {
        #correction-heating-element-wrapper .ui-checkbox {
            float: right;
            margin: -24px 14px 0 0;
        }
    }

    .p-label {
        margin-bottom: 0;
        margin-top: 0px;
    }

    #two .p-label {
        margin-bottom: 0;
        padding: 0 15px;

    }

    .hier {
        color: blue !important;
        text-decoration: underline;
    }
</style>
<div data-role="tabs" id="tabs">

    <div data-role="navbar">
        <ul>
            <li><a href="#one" data-ajax="false">Einstellungen</a></li>
            <li><a href="#two" data-ajax="false">Gruppeneinstellung</a></li>
            <li><a href="#three" data-ajax="false">Regelungsstatus</a></li>
        </ul>
    </div>

    <div id="one" class="ui-body-d ui-content ui-alt-icon">
        <select name="select-type" id="select-type">
            <option value="anhebung">Anhebung (für Heizbetrieb)</option>
            <option value="absenkung">Absenkung (für Kühlbetrieb)</option>
        </select>
        <br>
        <div class="centered">
            <p class="p-label"><img src="/static/icons/icon_vorlauftemperatur.png">Vorlauftemperaturkorrektur</p>
        </div>
        <p>Hier können Sie die Intensität der Vorlauftemperaturkorrektur für diesen Raum definieren.
            Bitte beachten: Maßgeblich für die Vorlauftemperaturkorrektur ist immer der Raum, der aktuell
            den größten Offset generiert. Weitere Informationen finden Sie
            <a class="hier" href="http://support.controme.com/vorlauf-korrektur/"target="_blank">hier</a>.</p><br>

        {% for e in eundr %}
            {% for etage, raeume in e.items %}
            <h2>{{ etage.name }}</h2>
            {% for raum in raeume %}
                <p class="p-label"><img src="/static/icons/{{ raum.icon }}.png">{{ raum.name }}</p>
                <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" style="display: none" data-id="{{ raum.id }}" data-type="absenkung">
                    <label for="absenkung">Absenkung</label>
                    <input data-popup-enabled="true" data-id={{ raum.id }} data-hausid={{ haus.id }} type="range" name="absenkung"
                           id="absenkung" data-mini="true" data-highlight="true" step="0.1" min="0" max="10"
                           value="{{ raum.get_vorlauftemperaturkorrektur_params.1 }}"/>
                </div>
                <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" data-id="{{ raum.id }}" data-type="anhebung">
                    <label for="anhebung">Anhebung</label>
                    <input data-popup-enabled="true" data-id={{ raum.id }} data-hausid={{ haus.id }} type="range"  name="anhebung"
                           id="anhebung" data-mini="true" data-highlight="true" step="0.1" min="0" max="10"
                           value="{{ raum.get_vorlauftemperaturkorrektur_params.0 }}"/>
                </div>
            {% endfor %}

            {% endfor %}
        {% endfor %}
    </div><!-- END tab one -->

    <div id="two" class="ui-content">
           <br>
        <div class="centered">
            <p class="p-label"><img src="/static/icons/icon_vorlauftemperatur.png">Vorlauftemperaturkorrektur</p>
        </div>
        <p>Hier können Sie die Intensität der Vorlauftemperaturkorrektur für diesen Raum definieren.
            Bitte beachten: Maßgeblich für die Vorlauftemperaturkorrektur ist immer der Raum, der aktuell
            den größten Offset generiert. Weitere Informationen finden Sie
            <a class="hier" href="http://support.controme.com/vorlauf-korrektur/" target="_blank">hier</a>.</p><br>
        <form action="/m_vorlauftemperaturkorrektur/{{ haus.id }}/" method="post" data-ajax="false">{% csrf_token %}
            <div class="ui-grid-a ui-alt-icon">
                <p class="p-label">Über die Gruppeneinstellung können Sie mehrere Räume gleichzeitig setzen, auswählen und übernehmen.</p>
                <div id="correction-heating-element-wrapper" class="custom_slider slider-wrapper correction-heating-element-wrapper">
                    <div>
                        <label for="anhebungs">Anhebung</label>
                        <input data-popup-enabled="true" type="range" name="anhebung" id="anhebungs" data-mini="true"
                                    data-highlight="true" step="0.1" min="0" max="10" value="1"/>
                        <input type="checkbox" id="anhebung_checkbox" name="anhebung_checkbox" checked="checked"/>
                    </div>
                    <div>
                        <label for="absenkungs">Absenkung</label>
                        <input data-popup-enabled="true" type="range" name="absenkung" id="absenkungs" data-mini="true"
                                    data-highlight="true" step="0.1" min="0" max="10" value="1"/>
                        <input type="checkbox" id="absenkung_checkbox" name="absenkung_checkbox" checked="checked"/>
                    </div>
                </div>

            </div>

            <div class="jahreskalender">
                <div class="ui-grid-a select-room jahreskalender">

                    <fieldset data-role="controlgroup" data-iconpos="right">
                        <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
                        <label id="select-all-label" for="select-all">alle Räume auswählen</label>
                        {% for e in eundr %}
                            {% for etage, raeume in e.items %}
                            <h2>{{ etage.name }}</h2>
                            <input type="checkbox" name="house-{{ etage.id }}" value="{{ etage.id }}" id="house-{{ etage.id }}" class="select-house"/>
                            <label for="house-{{ etage.id }}">alle auswählen</label>
                            {% for raum in raeume %}
                                <input type="checkbox" name="rooms" value="{{ raum.id }}" data-house="{{ etage.id }}" id="room-{{ raum.id }}" class="room"/>
                                <label for="room-{{ raum.id }}"><img src="/static/icons/{{ raum.icon }}.png">{{ raum.name }}</label>
                            {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </fieldset>

                </div>
            </div>
            <input type="submit" value='Speichern' style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>
        </form>
    </div><!-- END tab two -->

    <div id="three" class="ui-content">
        <div class="centered">
            <p class="p-label"><img src="/static/icons/icon_vorlauftemperatur.png" width="20" style="margin-right:10px;vertical-align: text-bottom;">Regelungsstatus Vorlauftemperaturkorrektur</p>
        </div>
        <div id="listOfLungs">
            <p><b>Berechnungsergebnisse:</b></p>
            <br />
            <!-- <ul>
                <li>Momentan relevanter Raum (mit dem größten Offset): {{r_w_m_p_o}}</li>
                <li>Temperaturabweichung im relevanten Raum: {{deviation|floatformat:2}}</li>
                <li>Berechneter Offset für den relevanten Raum: {{offset|floatformat:2}}</li>
                <li><a href="/m_setup/{{haus.id}}/vorlauftemperaturkorrektur/" class="hier" target="_blank">Werte der Begrenzungsslider: </a>-{{negative}}/{{positive}}</li>
                <li>Endergebnis der Berechnung: <br>
                    <div class="offset-center"> <font size="5" style="font-weight:bold;">{{offset_limit|floatformat:2}}</font> </div><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vorlauftemperatur wird gemäß obigem Wert korrigiert.
                </li>
            </ul> -->
            {% for lu in list_vtk %}
                <div style="margin-left:30px;">
                    <b>Vorlauftemperaturkorrektur {{lu.id}}: {{lu.name}}</b>
                    <ul>
                        <li>Vorlauftemperaturregelung: {{lu.vorlauftemperaturregelung_name}}</li>
                        <li>
                            Räume: {% if not lu.rooms %}-{% endif %}
                            {% for room in lu.rooms %}
                                {{ room }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                        <li>Momentan relevanter Raum (mit dem größten Offset): {{lu.r_w_m_p_o}}</li>
                        <li>Temperaturabweichung im relevanten Raum: {{lu.deviation|floatformat:2}}</li>
                        <li>Berechneter Offset für den relevanten Raum: {{lu.offset|floatformat:2}}</li>
                        <li><a href="/m_setup/{{haus.id}}/vorlauftemperaturkorrektur/?edit={{lu.id}}" class="hier" target="_blank">Werte der Begrenzungsslider: </a>-{{lu.negative}}/{{lu.positive}}</li>
                        <li>Endergebnis der Berechnung: <br>
                            <div class="offset-center"> <font size="5" style="font-weight:bold;">{{lu.offset_limit|floatformat:2}}</font> </div><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Vorlauftemperatur wird gemäß obigem Wert korrigiert.
                        </li>
                    </ul>
                </div>
            {% endfor %}

            <br />
            <b>Berechnungsplan:</b>
            <ul>
                <li>Zeitpunkt der letzten Berechnung: {{time_check_now}} </li>
                <li>geplante nächste Berechnung: {{time_check_next}} </li>
            </ul>

            <br />
            <b>Raumberechnungen:</b>
            <ul>
                {% for item in list %}
                    <li style="margin-bottom:5px;">{{ item.0 }}: <br>
                        {% if not item.5 %}
                            Raum nicht relevant für Vorlauftemperaturkorrektur
                        {% else %}
                            Abweichung: {{item.1|floatformat:2}}<br>
                            {{ item.7}}<br>
                            Multiplikator: <span style="font-weight: bold;">-{{item.3}}</span>/+{{item.4}}
                            <br>
                            Offset: {{ item.2|floatformat:2 }} (Abweichung * Multiplikator)
                            <br />
                            Maßgebliche Vorlauftemperaturregelungen:
                            {% for lung in item.6 %}
                                <a href="/m_setup/{{ haus.id }}/vorlauftemperaturregelung/edit/{{ lung.id }}/" target="_blank" style="color: blue;text-decoration: underline;">
                                    {{ lung.name }}
                                </a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            <br />
                            Maßgebliche Vorlauftemperaturkorrekturen:
                            {% for lung in item.5 %}
                                <a href="/m_setup/{{ haus.id }}/vorlauftemperaturkorrektur/?edit={{ lung.id }}" target="_blank" style="color: blue;text-decoration: underline;">
                                    {{ lung.name }}
                                </a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div><!-- END tab three -->
</div><!-- END tabs -->

{% endblock %}