{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Vorlauftemperaturregelung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{ haus.id }}/vorlauftemperaturregelung/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if mid %}
        <!-- <a id="mdel" href="/m_setup/{{ haus.id }}/vorlauftemperaturregelung/delete/{{ mid }}/" data-role="button" data-icon="delete" data-mini="true" data-inline="true" class="ui-btn-right" data-iconpos="notext"></a> -->
        <a id="mdel" href="/m_setup/{{ haus.id }}/vorlauftemperaturregelung/delete/{{ mid }}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
        <a href="http://support.controme.com/vorlauftemperatur-mischer/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px;"></a>
    {% else %}
        <a href="http://support.controme.com/vorlauftemperatur-mischer/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
    {% endif %}
{% endblock %}
{% block bodyclass %}vorlauftemperaturregelung{%endblock%}
{% block mcontent %}
<script language="javascript" type="text/javascript" src="/static/jquery.flot_0.8.1min.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
<script type="text/javascript">
    var plot = null;
    var mischer = null;
    $(document).ready(function(){

        $("#vtrtype").on("change", function() {
            $(".vtr1").hide();
            $(".vtr2").hide();
            $(".vtr3").hide();
            $(".vtr4").hide();
            $(".vtr" + $("#vtrtype").val()).show();
        });
        $("#vtrtype").trigger("change");

        $("#vtrkind").on("change", function() {
            $(".weather").hide();
            if($("#vtrkind").val() == "weather") {
                $(".weather").show();
            }
        });
        $("#vtrkind").trigger("change");

        $("#output_type").on("change", function() {
            $(".digital").hide();
            $(".analog").hide();
            $("." + $("#output_type").val()).show();
            if($("#release_behavior :selected").css("display") == "none") {
                $("#release_behavior").val("0");
            }
            $("#release_behavior").selectmenu("refresh", true);
        });
        $("#output_type").trigger("change");

        $("#controller").on("change", function() {
            $(".normal").hide();
            $(".pi").hide();
            $(".pid").hide();
            if($('#vtrtype').val() != '4') {
                $("." + $("#controller").val()).show();
            }
        });

        $("#release_condition").on("change", function() {
            if($("#release_condition").val() == "0") {
                document.getElementById("release_behavior").disabled=true;
                $("#release_behavior").val("0");
                $("#release_behavior").selectmenu("refresh", true);
            } else {
                document.getElementById("release_behavior").disabled=false;
            }
        });
        $("#release_condition").trigger("change");
        $("#controller").trigger("change");

        $("#hrgw").on("change", function() {
            if($("#hrgw").val() == "0") {
                $(".hrgw").show();
            } else {
                $(".hrgw").hide();
                $(".hrgw" + $("#hrgw").val()).show();
            }
        });
        $("#hrgw").trigger("change");

        $(".vtr-room-selection .select-all").change(function(){
            var elem = $(".select-room input[class=room]");
            if($(this).is(':checked')){
                elem.prop('checked', true).checkboxradio("refresh");
            }else{
                elem.prop('checked', false).checkboxradio("refresh");
            }
        });

        $(".vtr-room-selection input[class=room]").change(function(){
            var elem  = $(".vtr-room-selection .select-all");
            if(!$(this).is(':checked')){
                elem.prop('checked', false).checkboxradio("refresh");
            }
        });

        drawPlot();

        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY,
                            "bei " + parseInt(x) + "&deg;C Aussentemperatur " + parseInt(y) + "&deg;C Vorlauftemperatur");
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    });

    function drawPlot() {
        var slope = $("#slope").val();
        var offset = parseInt($("#offset").val());
        var bend = $("#bend").val();

        var options = {
                        lines: {show: true},
                        grid: {
                            hoverable: true,
                            clickable: true
                        },
                        xaxis: {
                            transform: function(v) { return -v; },
                            inverseTransform: function(v) { return -v; },
                            axisLabel: "Aussentemperatur",
                            axisLabelUseCanvas: true,
                            axisLabelFontSizePixels: 12,
                            axisLabelFontFamily: 'Verdana, Arial',
                            axisLabelPadding: 10
                        },
                        yaxis: {
                            min: 0,
                            max: 60,
                            axisLabel: "Vorlauftemperatur",
                            axisLabelUseCanvas: true,
                            axisLabelFontSizePixels: 12,
                            axisLabelFontFamily: 'Verdana, Arial',
                            axisLabelPadding: 10
                        }
        };
        var d1 = [];

        for (var i = 44; i > 0; i -= 0.1) {
            d1.push( [ 20-i, offset+(6-slope)* (Math.sqrt(Math.pow(i,bend))) ] ); // dto in rlr.do_a()
        }

        if(plot != null) {
            plot.setData(d1);
            plot.setupGrid();
            plot.draw();
        } else {
            $.plot("#placeholder", [{ data: d1 }], options);
        }
    }

    function showTooltip(x, y, contents) {
        $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }
</script>
<style type="text/css">
    label.ui-btn, div.ui-btn {
        font-weight: normal;
    }
    .ui-btn-text {font-weight:normal;}
    #igrid .ui-slider-input {
        display: none !important;
    }
    #igrid .ui-slider-track {
        margin-left:15px;
    }
</style>

<form method="post" action="/m_setup/{{haus.id}}/vorlauftemperaturregelung/" data-ajax="false" id='mrform'> {% csrf_token %}
    {% if mid %}
    <input type="hidden" name="mischer" id="mischer" value="{{ mid }}"/>
    {% endif %}

    <ul data-role="listview" data-divider-theme="a" id="rlrlv">
        <li data-role="list-divider">Vorlauftemperaturregelung</li>

        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}

        <li>
        <div data-role="fieldcontain">
            <label for="name" style="vertical-align: middle;">Name</label>
            <input type="text" name="name" id="name" value="{{ name }}" required/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="hrgw" style="margin-top: .5em;">Heizraumgateway</label>
            <select name="hrgw" data-mini="true" id="hrgw">
                <option value="0">-</option>
                {% for gw in hrgws %}
                    <option value="{{ gw.id }}" {% if hrgw == gw.id %}selected="selected"{% endif %}>{{ gw.name }}{% if gw.description|length %} / {{ gw.description }}{% endif %}</option>
                {% endfor %}
            </select>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="vtrtype" style="margin-top: .5em;">Regelungsart</label>
            <select name="vtrtype" data-mini="true" id="vtrtype">
                <option value="3" {% if vtrtype == "3" %}selected="selected"{% endif %}>mit 3 Sensoren (z.B. 3-Wege-Mischer)</option>
                <option value="2" {% if vtrtype == "2" or outs == '0' %}selected="selected"{% endif %}>mit 2 Sensoren (Ohne Vorlauf. Nicht empfohlen. Spezialanwendung)</option>
                <option value="1" {% if vtrtype == "1" %}selected="selected"{% endif %}>mit 1 Sensor (z.B. geregelte, analoge Ansteuerung von Gastherme)</option>
                <option value="4" {% if vtrtype == "4" %}selected="selected"{% endif %}>mit 1 Sensor (z.B. ungeregelte, analoge Ansteuerung von Gastherme)</option>
            </select>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="vtrkind" style="margin-top: .5em">Vorlaufberechnung</label>
            <select name="vtrkind" data-mini="true" id="vtrkind">
                <option value="weather" {% if vtrkind == "weather" %}selected="selected"{% endif %}>witterungsgeführt</option>
                <option value="demand" {% if vtrkind == "demand" %}selected="selected"{% endif %}>bedarfsabhängig</option>
            </select>
        </div>
        </li>

        <li class="weather">
            <label>Heizkennlinie</label>

            <div class="ui-grid-c">
                <div class="ui-block-a" style="width:15%">

                </div>
                <div class="ui-block-b" id="placeholder" style="height:440px; width:70%; min-width:600px;">

                </div>
                <div class="ui-block-c" style="width:15%" id="ls">

                </div>
            </div>
            <br/>

            Neigung <br/>

            <div class="ui-grid-c">
                <div class="ui-block-a" style="width:15%;text-align: right">

                </div>
                <div class="ui-block-b" style="width:70%">
                    <input type="range" id="slope" name="slope" value="{{ slope }}" min="0" max="7" step="0.01"
                           data-mini="true" onchange="drawPlot()"/>
                </div>
                <div class="ui-block-c" style="width:15%">

                </div>
            </div>

            Offset <br/>

            <div class="ui-grid-c">
                <div class="ui-block-a" style="width:15%;text-align: right">

                </div>
                <div class="ui-block-b" style="width:70%">
                    <input type="range" id="offset" name="offset" value="{{ offset }}" min="0" max="50" step="1"
                           data-mini="true" onchange='drawPlot();'/>
                </div>
                <div class="ui-block-c" style="width:15%">

                </div>
            </div>

            Krümmung <br/>

            <div class="ui-grid-c">
                <div class="ui-block-a" style="width:15%;text-align: right">

                </div>
                <div class="ui-block-b" style="width:70%">
                    <input type="range" id="bend" name="bend" value="{{ bend }}" min="1" max="2" step="0.05"
                           data-mini="true" onchange='drawPlot();'/>
                </div>
                <div class="ui-block-c" style="width:15%">

                </div>
            </div>

            <br/>

            <small>

            </small>

        </li>

        <li class="vtr3 vtr2">
        <div data-role="fieldcontain">
            <label for="in_warm" style="margin-top: .5em;">Sensor Warm</label>
            <select name="in_warm" data-mini="true" id="in_warm">
                {% for sensor in sensoren %}
                    {% if sensor.gateway_id %}
                        <option value="{{ sensor.get_identifier }}" {% if inws == sensor.get_identifier %}selected="selected"{% endif %}>{{ sensor.name }}{% if sensor.description|length %} / {{ sensor.description }}{% endif %}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        </li>

        <li class="vtr3 vtr2">
        <div data-role="fieldcontain">
            <label for="in_cold" style="margin-top: .5em;">Sensor Rücklauf</label>
            <select name="in_cold" data-mini="true" id="in_cold">
                {% for sensor in sensoren %}
                    {% if sensor.gateway_id %}
                        <option value="{{ sensor.get_identifier }}" {% if incs == sensor.get_identifier %}selected="selected"{% endif %}>{{ sensor.name }}{% if sensor.description|length %} / {{ sensor.description }}{% endif %}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        </li>

        <li class="vtr3 vtr1 vtr4">
        <div data-role="fieldcontain">
            <label for="outs" style="margin-top: .5em;">Sensor Vorlauf</label>
            <select name="outs" data-mini="true" id="outs">
                <option value="0" class="vtr4">-</option>
                {% for sensor in sensoren %}
                    {% if sensor.gateway_id %}
                        <option class="hrgw hrgw{{ sensor.gateway_id }}" value="{{ sensor.get_identifier }}" {% if outs == sensor.get_identifier %}selected="selected"{% endif %}>{{ sensor.name }}{% if sensor.description|length %} / {{ sensor.description }}{% endif %}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="ats" style="margin-top: .5em;">Sensor Außentemperatur</label>
            <select name="ats" data-mini="true" id="ats">
                <option value="online" {% if ats == "online" %}selected="selected"{% endif %}>Onlinewert</option>
                {% for sensor in sensoren %}
                    {% if sensor.gateway_id %}
                        <option value="{{ sensor.get_identifier }}" {% if ats == sensor.get_identifier %}selected="selected"{% endif %}>{{ sensor.name }}{% if sensor.description|length %} / {{ sensor.description }}{% endif %}</option>
                    {% endif %}
                {% endfor %}
                <option value="fbh" {% if ats == "fbh" %}selected="selected"{% endif %}>ATSensor an FBH-Gateway (falls vorhanden)</option>
            </select>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="output_type" style="margin-top: .5em;">Ausgang</label>
            <select name="output_type" data-mini="true" id="output_type">
                <option value="digital" {% if output_type == "digital" %}selected="selected"{% endif %} class="vtr3 vtr2 vtr1">digital</option>
                <option value="analog" {% if output_type == "analog" %}selected="selected"{% endif %} class="vtr1 vtr2 vtr3 vtr4">analog</option>
            </select>
        </div>
        </li>

        <li class="digital">
        <div data-role="fieldcontain">
            <label for="runtime" style="vertical-align: middle;">Mischerlaufzeit</label>
            <input type="number" name="runtime" id="runtime" value="{{ runtime }}" required/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="scan_interval" style="vertical-align: middle;">Abtastintervall</label>
            <input type="number" name="scan_interval" id="scan_interval" value="{{ scan_interval }}" required/>
        </div>
        </li>
        
        <li class="vtr1 vtr3 vtr4">
        <div data-role="fieldcontain">
            <label for="max_temp" style="vertical-align: middle;">Maximal zulässige Vorlauftemperatur</label>
            <input type="number" name="max_temp" id="max_temp" value="{{ max_temp }}" required/>
        </div>
        </li>

        <li class="vtr1 vtr3">
            <div data-role="fieldcontain">
                <label for="controller" style="vertical-align: middle;">Regler</label>
                <select name="controller" data-mini="true" id="controller">
                    <option value="normal" {% if controller == 'normal' %}selected="selected"{% endif %}>normal</option>
                    <option value="pi" {% if controller == "pi" %}selected="selected"{% endif %}>PI</option>
                    <option value="pid" {% if controller == "pid" %}selected="selected"{% endif %}>PID</option>
                </select>
            </div>
        </li>

        <li class="vtr1 vtr3">
        <div data-role="fieldcontain">
            <label for="hysteresis" style="vertical-align: middle;">Hysterese</label>
            <input type="number" name="hysteresis" id="hysteresis" value="{{ hysteresis }}" required/>
        </div>
        </li>

        <li class="vtr1 vtr3 normal">
        <div data-role="fieldcontain">
            <label for="gain" style="vertical-align: middle;">Verstärkung</label>
            <input type="number" name="gain" id="gain" value="{{ gain }}" required/>
        </div>
        </li>

        <li class="vtr1 vtr3 normal">
        <div data-role="fieldcontain">
            <label for="drive_increment" style="vertical-align: middle;">Minimale Mischerfahrzeit pro Abtastinterval</label>
            <input type="number" name="drive_increment" id="drive_increment" value="{{ drive_increment }}" required/>
        </div>
        </li>

        <li class="vtr1 vtr3 normal">
        <div data-role="fieldcontain">
            <label for="max_increment" style="vertical-align: middle;">Maximale Mischerfahrzeit pro Abtastinterval</label>
            <input type="number" name="max_increment" id="max_increment" value="{{ max_increment }}" required/>
        </div>
        </li>

        <li class="vtr1 vtr3 pi pid">
            <div data-role="fieldcontain">
                <label for="kp" style="vertical-align: middle">P-Anteil</label>
                <input type="number" name="kp" id="kp" value="{{ kp }}" required/>
            </div>
        </li>

        <li class="vtr1 vtr3 pi pid">
            <div data-role="fieldcontain">
                <label for="ki" style="vertical-align: middle">I-Anteil</label>
                <input type="number" name="ki" id="ki" value="{{ ki }}" required/>
            </div>
        </li>

        <li class="vtr1 vtr3 pid">
            <div data-role="fieldcontain">
                <label for="kd" style="vertical-align: middle">D-Anteil</label>
                <input type="number" name="kd" id="kd" value="{{ kd }}" required/>
            </div>
        </li>

        <li class="analog">
        <div data-role="fieldcontain">
            <label for="min_voltage" style="vertical-align: middle;">Minimaler Analogwert in V</label>
            <input type="number" name="min_voltage" id="min_voltage" value="{{ min_voltage }}" required/>
        </div>
        </li>

        <li class="analog">
        <div data-role="fieldcontain">
            <label for="max_voltage" style="vertical-align: middle;">Maximaler Analogwert in V</label>
            <input type="number" name="max_voltage" id="max_voltage" value="{{ max_voltage }}" required/>
        </div>
        </li>

        <li class="vtr4">
        <div data-role="fieldcontain">
            <label for="min_voltage_temp" style="vertical-align: middle;">Temperatur bei minimalem Analogwert in V</label>
            <input type="number" name="min_voltage_temp" id="min_voltage_temp" value="{{ min_voltage_temp }}" required/>
        </div>
        </li>

        <li class="vtr4">
        <div data-role="fieldcontain">
            <label for="max_voltage_temp" style="vertical-align: middle;">Temperatur bei maximalem Analogwert in V</label>
            <input type="number" name="max_voltage_temp" id="max_voltage_temp" value="{{ max_voltage_temp }}" required/>
        </div>
        </li>

        <li class="digital">
        <div data-role="fieldcontain">
            <label for="calibration_interval" style="vertical-align: middle;">Kalibrierungsintervall (in Tagen)</label>
            <input type="number" name="calibration_interval" id="calibration_interval" value="{{ calibration_interval }}" min="0.1" step="0.1"/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="release_condition" style="margin-top: .5em;">Freigabebedingung</label>
            <select name="release_condition" data-mini="true" id="release_condition">
                <option value="0">keine Freigabebedingung ausgewählt</option>
                {% for reg in regs %}
                <option value="{{ reg.regid }}" {% if release_condition == reg.regid %}selected="selected"{% endif %}>{{ reg.regtype }} {{ reg.name }}</option>
                {% endfor %}
            </select>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="release_behavior">Verhalten bei fehlender Freigabe</label>
            <select name="release_behavior" data-mini="true" id="release_behavior">
                <option value="0">kein Freigabeverhalten ausgewählt</option>
                <option value="stay" {% if release_behavior == "stay" %}selected="selected"{% endif %}>aktuelle Stellung beibehalten</option>
                <option value="off" {% if release_behavior == "off" %}selected="selected"{% endif %}>auf 0% / 0V fahren</option>
                <option value="on" {% if release_behavior == "on" %}selected="selected"{% endif %} class="digital">auf 100% / 10V fahren</option> <!-- nur bei digital-->
                <option value="min_ana" {% if release_behavior == "min_ana" %}selected="selected"{% endif %} class="analog">auf minimalen Analogwert fahren</option> <!-- nur bei analog -->
                <option value="max_ana" {% if release_behavior == "max_ana" %}selected="selected"{% endif %} class="analog">auf maximalen Analogwert fahren</option> <!-- nur bei analog-->
            </select>
        </div>
        </li>

        <li class="vtr-room-selection">
            <div data-role="collapsible" data-iconpos="right" class="select-room">
                <h2>Raum-Auswahl</h2>
                <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all" {% if select_all_rooms %}checked="checked"{% endif %} />
                <label id="select-all-label" for="select-all" data-corners="false" class="bold" >
                    alle Räume auswählen
                </label>
                {% for e in eundr %}
                    {% for etage, raeume in e.items %}
                        {% for r in raeume %}
                            <input type="checkbox" name="rooms" value="{{ r.id }}" class="room"
                                    data-house="{{ etage.id }}" style="border-bottom-width: 1px;margin-left: 15px;"
                                    id="room-{{ r.id }}"
                                   {% if r.id|stringformat:"i" in selected_rooms %}checked="checked"{% endif %} />
                            <label for="room-{{ r.id }}" style="border-bottom-width: 1px;margin-left: 15px;" class="line-border">
                                <img width="20" src="/static/icons/{{ r.icon }}.png"/>&nbsp;
                                {{etage.name}} | {{ r.name }}
                            </label>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
            <span>Wählen Sie hier die Räume, für die diese Regelung maßgeblich ist.</span>
        </li>

        <li class="vtr1 vtr2 vtr3">
            <div data-role="collapsible" data-iconpos="right">
                <h2>Modul-Auswahl</h2>
                <label>Aussentemperaturkorrektur<input type="checkbox" {% if 'aussentemperaturkorrektur' in modules_list %} checked {% endif%}  name="c_aussentemperaturkorrektur"></label>
                <label>FPS<input type="checkbox" {% if "fps" in modules_list %}checked{% endif %} name="c_fps"/></label>
                <label>Google Kalender Schnittstelle<input type="checkbox" {% if 'gcal' in modules_list %} checked {% endif%} name="c_gcal"></label>
                <label>Geolocation<input type="checkbox" {% if 'geolocation' in modules_list %} checked {% endif%} name="c_geolocation"></label>
    {#            <label>Heizflächenoptimierung<input type="checkbox" {% if 'heizflaechenoptimierung' in modules_list %} checked {% endif%} name="c_heizflaechenoptimierung"></label>#}
                <label>Wetter<input type="checkbox" {% if 'wetter' in modules_list %} checked {% endif%} name="c_wetter"></label>
                <label>Vorlauftemperaturkorrektur<input type="checkbox" {% if 'vorlauftemperaturkorrektur' in modules_list %} checked {% endif%} name="c_vorlauftemperaturkorrektur"></label>
                <label>Timer<input type="checkbox" {% if 'timer' in modules_list %} checked {% endif%} name="c_timer"></label>
                <label>Kalender<input type="checkbox" {% if 'jahreskalender' in modules_list %} checked {% endif%} name="c_jahreskalender"></label>
                <label>Offsets<input type="checkbox" {% if 'offsets' in modules_list %} checked {% endif%} name="c_offsets"></label>
            </div>
            <span>Wählen Sie hier die Module, die Sie für diese Regelung aktivieren möchten.</span>
        </li>

        <li>
            <label for="icon">Icon</label>
            <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal">
            {% for vlicon in icons %}
            <label for="{{ vlicon }}"><img src="/static/heating-icons/icon_{{ vlicon }}.png" width="40px"/></label>
            <input type="radio" name="icon" id="{{ vlicon }}" value="{{ vlicon }}" {% if icon == vlicon %}checked="checked"{% endif %}/>
            {% endfor %}
            </fieldset>
            </div>
        </li>

         <li>
            <div data-role="fieldcontain">
                <label for="show_in_menu">Link im linken Benutzermenü anzeigen</label>
                <input type="checkbox" name="show_in_menu" id="show_in_menu" {% if show_in_menu == None or  show_in_menu %}checked="checked"{% endif %}/>
            </div>
        </li>
        {% if mid %}
            <li>
                <a href="/m_vorlauftemperaturregelung/{{haus.id}}/show/{{ mid }}/" target="_blank">öffne Benutzeroberfläche</a>
            </li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#mrform').get(0).submit();" style="text-align:center">Einstellungen speichern</a>
        </li>
    </ul>

</form>

{% endblock %}

{% block footer %}

{% endblock %}
