{% extends "m_base.html" %}

{% block title %}Smart-Heat-OS - Kalender - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/gcal/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Kalender</h2>

    <p>
        Die Einrichtung und Verwendung des Kalenders haben wir auf folgender Seite beschrieben:
        <a href="http://support.controme.com/installation-und-inbetriebnahme/inbetriebnahme-kalender/" target="_blank">Inbetriebnahme Kalender</a>

        Passwort: 1234
    </p>

{% endblock %}
