{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Präsenzregelung{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-praesenzregelung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function(){
        {% for sensor, active, offset in sensoren %}
            {% if not active %}
                $("#".concat({{ sensor.id }}).concat("_prhgrid")).hide();
            {% endif %}
        {% endfor %}
    });
    function toggleActive(grid) {
        $(grid).toggle();
    }
</script>
<style type="text/css">
    label.ui-btn {
        font-weight: normal;
    }
    .ui-btn-text {
        font-weight: normal;
    }
</style>

<form method="post" action="/m_setup/{{haus.id}}/praesenzregelung/" data-ajax="false" id="prhform">{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role='list-divider'>Präsenzregelung</li>
    </ul>

    <div data-role="collapsible-set" data-inset="false">
        {% for sensor, active, offset in sensoren %}
            <div data-role="collapsible" class="collapse">
                <h3>{{ sensor.raum.etage }} / {{ sensor.raum }}</h3>

                <label style="margin:0; border:0;" data-corners="false">
                    <input type="checkbox" onclick="toggleActive('#{{ sensor.id }}_prhgrid');" name="{{ sensor.id }}prraktiv" value='1' {% if active %}checked{% endif %}/>
                    Präsenzregelung aktiviert
                </label>

                <input type="hidden" name="{{ sensor.id }}" value="1"/>

                <div id="{{ sensor.id }}_prhgrid">

                    <br/>
                    Absenkung in °C, wenn der Bewegungsmelder keine Aktivität registriert:<br/>

                    <div class="ui-grid-c">
                        <div class="ui-block-a" style="width:15%;text-align: right">

                        </div>
                        <div class="ui-block-b" style="width:70%">
                            <input type="range" id="{{ sensor.id }}_offset" name="{{ sensor.id }}_offset" value="{{ offset }}" min="-2" max="0" step="0.1"
                                   data-mini="true"/>
                        </div>
                        <div class="ui-block-c" style="width:15%">

                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
        {% if not sensoren|length %}
        <br/><br/>Keine Bewegungsmelder vorhanden.
        {% endif %}
    </div>
    {% if sensoren|length %}
    <br/>
    <ul data-role="listview">
        <li data-icon='false' style="padding:0px;">
            <a href="#" onclick="$('#prhform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>
    {% endif %}

</form>
{% endblock %}