{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS" %} {% trans "Benutzerverwaltung" noop %}{% endblock %}
{% block bodyclass %} page benutzerverwaltung{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/benutzerverwaltung/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25" style="height: 25px;margin-top: 0px;"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}

    <a data-role="none" href="/m_benutzerverwaltung/{{ haus.id }}/add/" class="custome_a">
        <div class="room_wrapper">
            {% trans "neuen Benutzer anlegen" %}
            <a href="/m_benutzerverwaltung/{{ haus.id }}/add/" style="float:right; margin-top: 0;" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all ui-alt-icon ui-icon-shadow icon-no-bg">{% trans "Add" %}</a>
        </div>
    </a>

    <ul data-role="listview" class="ui-alt-icon sort" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false">
        <li>
            {% trans "bestehende Benutzer:" %}
        </li>

        {% for item in userlist %}
            <li>
                <a style="padding-left: 25px; font-size: 14px;" href="/m_benutzerverwaltung/{{ haus.id }}/edit/{{ item.id }}/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    {{ item.user.email }}
                </a>
            </li>
        {% endfor %}

    </ul>

{% endblock %}