{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/hardware/setup_rpi/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/grundlegende-konfiguration/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
    <script type="application/javascript">
        {% if is_self %}
        $(document).on('pagecreate', function() {
            $("#updateli_spinner").show();
            $("#updateli_button").hide();
            $("#branchli_spinner").hide();
            $.ajax({
                url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?verdate={{ rpi.id }}",
                success: function(response) {
                    $("#updateli_spinner").hide();
                    $("#updateli_button").show();
                },
                error: function(xhr, options, error) {
                    $("#updatever").append(" (neueste Version)");
                    $("#updateli_spinner").hide();
                }
            });
            $.ajax({
                url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?vertarget=stable&ms={{ rpi.id }}",
                success: function(response) {
                    console.log(response);
                    $("#cnt_stable").text(response);
                },
                error: function(xhr, options, error) {}
            });
            $.ajax({
                url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?vertarget=lab&ms={{ rpi.id }}",
                success: function(response) {
                    $("#cnt_lab").text(response);
                },
                error: function(xhr, options, error) {}
            });

            $("#shutdown-link").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?shutdown=1",
                    success: function(response) {

                    },
                    error: function(xhr, options, error) {}
                });
                alert("Der Server wird heruntergefahren.")
            });

            $("#restart-link").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?reboot=1",
                    success: function(response) {

                    },
                    error: function(xhr, options, error) {
                        
                    }
                });
                alert("Der Server wird neu gestartet. Falls Sie einen Neustart ausgelöst haben," +
                            " dauert es etwa 1 Minute bis Sie die Benutzeroberfläche wieder erreichen.")
            });



        });

        function doUpdate() {
            $("#updateli_button").hide();
            $("#updateli_spinner").show();
            $("#restartli").hide();
            $("#shutdownli").hide();
            $("#updwarnli").show();
            $.ajax({
                url: "?update={{ rpi.id }}"
            }).complete("error", function() {
                window.location.reload();
            });
        }

        function doSwitchVersion(targetversion) {
            $("#branchli_spinner").show();
            $.ajax({
                url: "?switchto=" + targetversion + "&ms={{ rpi.id }}"
            }).complete("error", function() {
                window.location.reload();
            });
        }
        {% endif %}
    </script>

    <form action="/m_setup/{{haus.id}}/hardware/setup_rpi/?create" method="post" data-ajax="false" id='rpiform'>{% csrf_token %}
        <ul data-role="listview">
            <li>
                <label for="name">Miniserver MAC Adresse</label>
                <input type="text" name="name" id="name" data-clear-btn="true" data-mini="true" {% if rpi %}value="{{ rpi.name }}"{% endif %} {% if is_self %}disabled="true"{% endif %}/>
            </li>
            {% if is_self and ip %}
                <li>
                    IP: {{ ip }}
                </li>
            {% endif %}
            {% if not is_self %}
                <li>
                    <label for="local_ip">Lokale IP Adresse</label>
                    <input type="text" name="local_ip" id="local_ip" data-clear-btn="true" data-mini="true" {% if rpi and rpi.local_ip %}value="{{ rpi.local_ip }}"{% endif %}/>
                    <small>Dieses Feld ausfüllen, wenn keine Internetverbindung verfügbar ist. Sofern alle eingebundenen Controme Drop- und Master-Server eine Internetverbindung haben, wird dieses Feld automatisch ausgefüllt.</small>
                </li>
            {% endif %}
            {% if not is_self %}
                <li>
                    <label for="description">Name</label>
                    <input type="text" name="description" id="description" value="{{rpi.description}}" data-clear-btn="true" data-mini="true"/>
                    <small>
                        Mnemonischer Name, um einen Miniserver im heizManager leichter identifizieren zu können, z.B. "Miniserver
                        Keller" oder "Miniserver EG".
                    </small>
                </li>
            {% endif %}
            {% if is_self %}
                <li data-icon="false" id="updatever">
                    Installierte Softwareversion: {{ branch }}<br/>
                    Softwarestand von: {{ lu }}
                </li>
                <li>
                    Stable-Version installieren / updaten<br/>
                    <small>
                        Die Stable-Version ist die letzte stabile Version von Controme Smart-Heat-OS. Im <a href="http://support.controme.com/changelog-controme-smart-heat-os/" target="_blank">Changelog</a>
                        können Sie die Änderungen nachvollziehen.
                    </small>
                    <br/>
                    Aktuelle Stable-Version: <span id="cnt_stable"></span>
                </li>
                <li>
                    Lab-Version installieren<br/>
                    <small>
                        Neue Funktionen, Bugfixes und Verbesserungen werden zunächst als Lab-Version veröffentlicht.
                        Bitte beachten Sie, dass die Lab-Version zu Fehlfunktionen führen kann. 
                        Im <a href="http://support.controme.com/changelog-controme-smart-heat-os/" target="_blank">Changelog</a>
                        können Sie nachvollziehen, was die Lab-Version von der aktuellen Stable-Version unterscheidet.
                    </small>
                    <br/>
                    Aktuelle Lab-Version: <span id="cnt_lab"></span>
                </li>
            {% endif %}
            {% if is_self %}
                <li>
                {% if branch == 'Stable' %}
                    <a href="#" onclick="doSwitchVersion('lab');" style="text-align: center">Zur Lab-Version wechseln</a>
                {% elif branch == 'Lab' %}
                    <a href="#" onclick="doSwitchVersion('stable');" style="text-align: center">Zur Stable-Version wechseln</a>
                {% endif %}
                </li>
                <li data-icon="false" id="branchli_spinner">
                    <br/><span id="branchspinner"><center><img src='/static/images/ajax-loader.gif'/></center></span><br/>
                </li>
            {% endif %}
            {% if is_self %}
                {% if failed_update %}
                <li style="color: #cb0963;">
                    Update fehlgeschlagen, Download momentan nicht möglich. Bitte versuchen Sie es später erneut.
                </li>
                {% endif %}
                <li style="color:#cb0963;" data-role="none" data-icon="false">
                     <p style="font-size:16px; white-space: initial;margin: 0;">Wichtig bei Updates:<br>

                    Damit die Oberfläche nach einem Update
                    weiterhin korrekt angezeigt wird, muss die Seite ohne Cache-Zugriff neu geladen werden.
                    Eine Anleitung finden Sie
                    <a  data-role="none" href="http://support.controme.com/browsercache-leeren/"> hier</a>.
                    </p>

                </li>
                <li data-icon="false" id="updateli_button">
                    <a href="#" onclick="doUpdate();" style="text-align:center">Jetzt aktualisieren</a>
                </li>
                <li data-icon="false" id="updateli_spinner">
                    <br/><span id='updatespinner'><center><img src='/static/images/ajax-loader.gif'/></center></span><br/>
                </li>
            {% endif %}
            {% if rpierror %}
                <li style="color:#cb0963" id="error">
                    {% autoescape off %}{{rpierror}}{% endautoescape %}
                </li>                
            {% endif %}
            {% if not is_self %}
            <li data-icon='false'>
                <a href="#" onclick="$('#rpiform').get(0).submit();" style="text-align:center">Speichern</a>
            </li>
            {% endif %}
            {% if is_self %}
                {% if uptime != None %}
                <li>
                    aktuelle Betriebszeit: an seit {{ uptime }}
                </li>
                {% endif %}
                {% if not updating %}
                <li id="restartli">
                    <a href="?reboot=1" id="restart-link">Neustarten</a>
                </li>
                <li id="shutdownli">
                    <a href="?shutdown=1" id="shutdown-link">
                        Herunterfahren
                        <br/>
                        <small>Vor dem Ausstecken bitte warten bis beide LEDs auf der Rückseite durchgehend leuchten.</small>
                    </a>
                </li>
                <li style="display: none" id="updwarnli">
                    Update aktiv. Bitte warten.
                </li>
                {% else %}
                <li>
                    Update aktiv. Bitte warten.
                </li>
                {% endif %}
            {% endif %}
        </ul>
    </form>
{% endblock %}

