{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/grundlegende-konfiguration/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<script type="text/javascript">
    function jq(myid) {
        return myid.replace(/[:]/g, "\\$&").replace(/[/]/g, "\\$&");
    }

    $(document).on('pageshow', function(){
        var gw2s;

        $.ajax({
            url: "/m_setup/{{haus.id}}/hardware/acs/",
            dataType: "json",
            async: false,
            success: function(data) {
                gw2s = data;
            }
        });
        $.ajax({
            url: "/m_setup/{{haus.id}}/hardware/ac/",
            dataType: "json",
            success: function(data) {
                $(".aa").remove(); // wg. page caching
                $.each(data, function(k,v) {
                    var kid = k.split('##')[0];
                    var kname = k.split('##')[1];
                    console.log(kname);
                    var ktype = k.split('##')[2];

                    $("#cset").append("<div data-role='collapsible' class='aa'><h5>" + kname + "</h5>" +
                            "<ul data-role='listview' id='zlist" + ktype + kid + "'></ul></div>"); // data-collapsed='false'?

                    $.each(v, function(u, w) {
                        var zlistlabel = "<li data-role='fieldcontain' class='aa' style='text-align:right;'>";
                        var listidx = w[0];
                        var selectid = kid + '_' + ktype + '_' + w[0];
                        zlistlabel += "<label for='" + selectid + "' style='padding-right: 0px'>";
                        zlistlabel += listidx + ": " + w[1] + "</label>";
                        zlistlabel += "<select id='" + selectid + "' name='" + selectid + "' data-mini='true'></select></li>";
                        $("#zlist" + ktype + kid).append(zlistlabel);

                        var $select = $("#" + jq(selectid));
                        $select.append("<option " +((w.length > 2) ? "" : "selected='selected' ") +"value=''>Ausgang keiner Funktion zugewiesen</option>");
                        var selected = null;
                        if(w.length > 2) {
                            selected = w[2];
                            $select.append("<option value='" + w[2] + "' selected='selected'>" + w[3] + "</option>");
                            if (w[2] == "inactive") {
                                $("#" + jq(selectid)).prop('disabled', 'disabled');
                            }
                        }
                        if(gw2s[k]) {
                            $.each(gw2s[k], function (i, s) {
                                if (selected != s[0]) {
{#                                  das ist natuerlich nicht optimal. waere besser, wenn das in django passieren wuerde.  #}
                                    if(zlistlabel.indexOf("Analog") > -1) {
                                        if (s[0].indexOf("ana") > -1 || s[0].startsWith("fps") || s[0].startsWith("nullreg")) {
                                            $("#" + jq(selectid)).append("<option value='" + s[0] + "'>" + s[1] + "</option>");
                                        }
                                    } else if(zlistlabel.indexOf("+") > -1) {
                                        $("#" + jq(selectid)).append("<option value='" + s[0] + "'>" + s[1] + "</option>");
                                    } else {
                                        if(s[0].indexOf("ana") < 0) {
                                            $("#" + jq(selectid)).append("<option value='" + s[0] + "'>" + s[1] + "</option>");
                                        }
                                    }
                                }
                            });
                        }

                        $select.selectmenu();
                        $select.selectmenu("refresh", true);

                        $select.on("focusin", function() {
                            $("#error").hide();
                            $("#error").html("");
                        }).on("change", function() {
                            var cnt = $(this).val();
                            var parentname = $(this).attr("name");
                            if(cnt.indexOf('mischer') == 0 && cnt.indexOf('ana') == -1) {
                                $("select[value='" + cnt + "'] :selected").each(function() {
                                    if($(this).parent().attr("name") != parentname) {
                                        $("#" + $(this).parent().attr("name") + " option[value='']").attr("selected", "selected");
                                        $(this).parent().selectmenu("refresh", true);
                                        // fehler setzen!
                                        $("#error").text("Digitale auf/ab Mischerausgänge können nur jeweils einmal zugeordnet werden!");
                                        $("#error").show();
                                    }
                                });
                            }
                        });
                    });

                    $("#zlist" + ktype + kid).trigger('create');

                });
                selectGray()
                $('#spinner').hide();
                $("#cset").collapsibleset('refresh');
                $("ul[id^='zlist']").listview('refresh');
            }
        });

        $('body').on('change', 'select', function () {
            var element = $(this).find('option:selected')
            var text = element.html()
            var parent = element.parents('.ui-btn')
            changeSelectColorByCondition(parent, text)
        })

        function selectGray () {
            $('select').each(function (index) {
                var text = $(this).find('option:selected').html()
                var parent = $(this).parents('.ui-btn')
                changeSelectColorByCondition(parent, text)
            })
        }

        function changeSelectColorByCondition (element, text) {
            if(text == 'Ausgang keiner Funktion zugewiesen') {
                element.css('color', '#ced2d4')
                element.css('border-color', 'rgb(239, 239, 239)')
            } else {
                element.css('color', 'black')
                element.css('border-color', '#cccccc')
            }
        }


    });



</script>
<style type="text/css">
    label.ui-btn, a.ui-collapsible-heading-toggle {
        font-weight: normal;
    }
</style>

<form action="/m_setup/{{haus.id}}/hardware/a/" method="post" data-ajax="false" id='zform'>{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li>
            <div data-role="collapsible-set" data-inset="false" id='cset'>
            </div>
            <span id='spinner'><center><img src='/static/images/ajax-loader.gif'/></center></span>

            <small>
                Zuordnung von Räumen zu Ausgängen an Gateways und Funk-Aktoren an Mini-Servern. Ein Ausgang an
                einem Gateway kann einen Raum nur dann steuern, wenn der Raumtemperatursensor bzw. der/die Rücklaufsensoren
                auch an diesem Gateway angeschlossen sind. Andernfalls können wir den Backupbetrieb der Gateways bei
                fehlender Internetverbindung nicht sicherstellen.
            </small>
        </li>
        <li style="color:#cb0963; white-space:normal; display:none" id="error">

        </li>
        <li data-icon='false'>
            <a href="#" onclick="$('#zform').get(0).submit();" style="text-align:center">Zuordnung speichern</a>
        </li>
    </ul>
</form>
{% endblock %}
