{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/grundlegende-konfiguration/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
    <ul data-role="listview" data-divider-theme="a" data-split-icon="delete" data-split-theme='c'>
        <li data-role="list-divider" style="min-height: 20px">
            Angelegte Miniserver
        </li>
        {% if not rpis|length %}
            <li>-</li>
        {% endif %}
        {% for r in rpiList %}
            <li data-icon='arrow-r'>
                    {% ifequal r.rpi rpi %}
                        <a href="/m_setup/{{ haus.id }}/hardware/setup_rpi/?create={{ rpi.id }}"><h5>{{ rpi.name }} {% if rpi.description %} - {% endif %}{{ rpi.description }}</h5></a>
                    {% else %}
                        <a href="/m_setup/{{ haus.id }}/hardware/setup_rpi/?create={{ r.rpi.id }}"><span><h5><span style="color:{{ r.marker }};font-size:x-large; margin-right: 5px">•</span>{{ r.rpi.name }} {% if r.rpi.description %} -  {% endif %}{{ r.rpi.description }}</h5><p>Letzte Anfrage: {{ r.last }}</p></span></a><a href="/m_setup/{{ haus.id }}/hardware/setup_rpi/?rpidel={{ r.rpi.id }}" data-icon="delete">L&ouml;schen</a>
                    {% endifequal %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/hardware/setup_rpi/?create' data-icon='gear'>Miniserver anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}