{% extends "m_base_new.html"%}

{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Temperatur&uuml;berwachung" noop %}{% endblock %}
{% block bodyclass %}page room no-input-slider{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/bedienung/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    {% if tempmode %}
    <span class="ui-btn-text mode-selection mode-select">
    <!--<p style="text-align: center;margin: 0;">-->
        <center>
            <select  data-id="{{raum.id}}" id="mode-select" data-mini="true" data-shadow="false">
              <option value="0" selected>----</option>
              {% for id,name in tempmodes%}
               <option value="{{id}}">{{name}}</option>
              {% endfor %}
            </select>

        </center>
    <!--</p>-->
    </span>
    {%endif%}
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}

<style>
    #sensor li{font-size: 14px; }
</style>
{% csrf_token %}
    <ul data-role="none" data-id="{{raum.id}}" data-divider-theme="a" id="roomlistview" class="ui-alt-icon room_list">


        <li class="customli ui-li ui-li-static roomli">

        </li>
         <li class="customli ui-li ui-li-static">

            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne">&nbsp;</span>
            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne">&nbsp;</span>
        </li>

    </ul>
    <ul data-role="listview">
        {% if rlonly %}
        <li>
            <p style="color: #cb0963; white-space: initial !important; font-size:14px;">
             <b>Achtung:</b> Die Regelung in diesem Raum funktioniert nicht,
                weil diesem Raum kein Raumsensor zugewiesen ist!
                Weisen Sie dem Raum bitte einen Raumsensor zu.
                Wenn Sie diesen Raum ausschließlich mit Rücklaufsensoren betreiben möchten,
                finden Sie <a style="color: #cb0963; text-decoration: underline;" href="http://support.controme.com/heizflaechenoptimierung/#Regelung_ohne_Raumsensor" target="_blank">hier</a> weitere Informationen.
            </p>
        </li>
        {% endif %}
        {% if tempmode %}

            <li>
                <a href="/m_raum/{{raum.id}}/temperaturszenen/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                    <span class="clock-icon"><img src="/static/icons/icon_thermometer_green_preview.png" width="25" height="25"></span>
                    <span class="temp-text"> alle Temperaturszenen {{raum.name}} </span>
                </a>
            </li>
        {% endif %}
        {% if heizprogramm %}
        <li class="right">
            <a href="/m_heizprogramm/{{haus.id}}" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                <span class="clock-icon"><img src="/static/icons/icon-clock.png" width="25" height="25"></span>
                <span class="temp-text"> Heizprogramm </span>
            </a>
        </li>
        {% endif %}

        {% if rlonly %}
            <li><a href="/m_raum/{{raumid}}/ruecklaufregelung/#">{% trans "Einstellungen Rücklauf" noop %}</a> </li>

        {% endif %}

    </ul>
    {% if lf  %}
        <ul data-role="listview">
            <li>
                <a href="/m_raum/{{raumid}}/luftfeuchte/" style="max-height: 20px; padding: 10px 0; font-size: 14px;" class="luftfeuchte-link">
                <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-luftfeuchte module-icon">&nbsp;</span>Luftfeuchte
                <span class="ui-li-aside module-temp offset" style="width:155px;">
                        {{lf}}%
                </span>
                </a>
            </li>
        </ul>
    {% endif %}

    {% if logging %}
        <script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
        <script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
        <script language="javascript" type="text/javascript" src="/static/jquery.flot.time.js"></script>
        <script type="text/javascript">

            var data = {};
            var labels = {};

            var options = {
                lines: { show: true,
                         lineWidth: 1
                },
                xaxis: { mode: "time",
                    timeformat: "%d.%m.<br/>%H:%M",
                    timezone: "UTC"
                },
                legend: {
                    noColumns: 2,
{#                    position: "nw"#}
                    container: "#legendcontainer"
                },
                series: {
                    shadowSize: 0
                },
                colors: ["#cb0963", "#019bb0", "#f9b233", "#779a45"],
                grid: {
                    markings: []
                }
            };

            function drawLog() {
                var drawdata = [];
                var markings = [];
                var all_ts = [];
                var has_data = false;

                $.each(data, function(k, v) {
                    if(v && v.length) {
                        has_data = true;
                        $("#raumlog").collapsible('expand');
                        if (k.startsWith("out_")) {
                            $.each(v, function (idx, mrkng) {
                                all_ts.push(mrkng[0]);
                            });
                        } else {
                            drawdata.push({data: v, label: labels[k]});
                        }
                    } else {
                        drawdata.push({data: v, label: labels[k] + " (keine Daten vorhanden)"});
                    }
                });

                var unique_ts = Array.from(new Set(all_ts));
                unique_ts.sort();
                if(unique_ts.length) {
                    var prev_ts = unique_ts[0];
                    $.each(unique_ts, function (tsidx, ts) {
                        var summarkng = 0;
                        if(ts > prev_ts) {
                            $.each(data, function(name, points) {
                                if(name.startsWith("out_") && points && points.length) {
                                    var prev_point_ts = points[0][0];
                                    $.each(points, function(idx, point) {
                                        if(idx > 0) {
                                            if(prev_point_ts == prev_ts || (prev_point_ts < prev_ts && point[0] >= ts) ) {
                                                summarkng += points[idx-1][1];
                                            }
                                        } else if(points.length == 1) {
                                            summarkng += point[1];
                                        }
                                        prev_point_ts = point[0];
                                    });
                                }
                            });
                            markings.push({xaxis: {from: prev_ts, to: ts}, color: summarkng});
                        } else if(unique_ts.length == 1) {
                            $.each(data, function(name, points) {
                                if(name.startsWith("out_") && points && points.length) {
                                    summarkng += points[0][1];
                                }
                            });
                            markings.push({xaxis: {from: prev_ts, to: ts}, color: summarkng});
                        }
                        prev_ts = ts;
                    });
                    let beam_value = $('.visual-bar .ui-slider-track .beam-width-value').val();
                    let chart_background = "{{ chart_background }}";
                    let background_1 = '#ccecf8';  // blue
                    let background_2 = '#e799b3';  //red
                    if (chart_background == 'cooling' && beam_value == '100'){
                        background_1 = '#ccecf8';
                        background_2 = '#ccecf8';
                    } else if (chart_background == 'cooling' && beam_value != '100'){
                        background_1 = '#ffffff';
                        background_2 = '#ccecf8';
                    } else if (chart_background == 'heating'){
                        background_1 = '#ffffff';
                        background_2 = '#e799b3';
                    } else if (chart_background == "heating_inverted") {
                        background_1 = "#e799b3";
                        background_2 = "#ffffff";
                    }
                    $.each(markings, function (k, v) {
                        if (v.color == 0) {
                            v.color = background_1; // blue
                        } else {
                            v.color = shadeColor2(background_2 , 0.1-v.color/10); // red
                        }
                    });
                    options['grid']['markings'] = markings;
                } else {
                    options['grid']['markings'] = [];
                }

                if(has_data) {
                    $("#placeholder").css("height", "400px");
                    $.plot($("#placeholder"), drawdata, options);

                    $("#spinnerbr").empty();
                    $.each($("#legendcontainer table td"), function (i, td) {
                        if (i % 2 == 0) { // legendcolorbox
                            $("#spinnerbr").append("<div style='white-space: nowrap; display: inline-block'><span id='legend_" + i + "' style='height: 1em; width: 1em;'>&nbsp;&nbsp;&nbsp;</span></div>");
                            $("#legend_" + i).css("background", $(this).children(":first").children(":first").css("border-top-color"));
                        } else { // legendlabel
                            var label = $(this).html();
                            $("#legend_" + (i - 1)).after("<span style='font-size:small; padding-right:1em'>&nbsp;" + label + "</span>");
                        }
                    });
                }
            }

            function shadeColor2(color, percent) {
                var f=parseInt(color.slice(1),16),t=percent<0?0:255,p=percent<0?percent*-1:percent,R=f>>16,G=f>>8&0x00FF,B=f&0x0000FF;
                return "#"+(0x1000000+(Math.round((t-R)*p)+R)*0x10000+(Math.round((t-G)*p)+G)*0x100+(Math.round((t-B)*p)+B)).toString(16).slice(1);
            }

            function getData(objid) {
{#                var span = $("#zeitraum").val();#}
                var von = $("#von").val();
                var bis = $("#bis").val();
                $.ajax({
                    url: "/m_logger/{{ haus.id }}/?gl=" + jq(objid) + "&von=" + von + "&bis=" + bis,
                    dataType: "json",
                    success: function(result) {
                        data[objid] = result[1];
                        labels[objid] = result[0];
                    }
                }).complete(function() {
                    drawLog();
                    $("#spinner").hide();
                    $("#spinnerbrli").show();
                });
            }

            function deselect() {
                data = {};
                $(".cb").each(function() {
                    if($(this).prop("checked")) {
                        $("#spinner").show();
                        $("#spinnerbrli").hide();
                        getData($(this).prop("id"));
                    }
                });
            }

            $(document).ready(function() {
                $("#raumlog").collapsible('collapse');
                $("#spinner").hide();
                $("#spinnerbrli").show();
                $(".cb").on("click", function() {
                    if($(this).prop("checked")) {
                        $("#spinner").show();
                        $("#spinnerbrli").hide();
                        getData($(this).prop("id").toString());
                    } else {
                        delete data[$(this).prop("id").toString()];
                        drawLog();
                    }
                });
                $("#von").val("{{ von }}");
                $("#bis").val("{{ bis }}");
                {% if ms and not rlonly %}
                $("#" + jq('{{ ms.get_identifier }}')).prop("checked", true);
                $("#" + jq('{{ ms.get_identifier }}')).checkboxradio("refresh");
                getData('{{ ms.get_identifier }}');
                {% endif %}
                $("#raum_{{ raum.id }}_ziel").prop("checked", true);
                $("#raum_{{ raum.id }}_ziel").checkboxradio("refresh");
                getData('raum_{{ raum.id }}_ziel');
                deselect();
                drawLog();
                $("#zrcol div").contents()[1].remove();
                $("#zrcol div").contents()[2].remove();
            });

            function jq(myid) {
                return myid.replace(/[*]/g, "\\$&").replace(/[/]/g, "\\$&");
            }
        </script>

        <div data-role="collapsible" class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="raumlog" style="margin:0;margin-top: 30px;" data-collapsed="false">
            <h5 style="margin: 0px;padding-top: 20px">&nbsp;{% trans "Logging" noop %}</h5>
            <ul data-role="listview" data-divider-theme="a" id="loglv">
                <li id="diag">
                    <div style="height: 400px" id="placeholder"></div>
                </li>
                <li id='spinner'><div style="text-align: center; height: 16px"><img src='/static/images/ajax-loader.gif'/></div></li>
                <li id='spinnerbrli'><div id="spinnerbr" style="white-space: normal; overflow: auto"></div></li>
                <div style="display: none" id="legendcontainer"></div>

                <div data-role="collapsible" class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="zrcol" style="margin: 0 10px 0;">
                    <h5>{% trans "Zeitraum" noop %}</h5>
                    <input type="datetime-local" data-clear-btn="false" name="von" id="von" value="" data-mini="true" style="margin: 0;"/>
                    <input type="datetime-local" data-clear-btn="false" name="bis" id="bis" value="" data-mini="true" style="margin: 0"/>
                    <a href="#" onclick="deselect();" data-role="button" data-mini="true">{% trans "Anzeigen" %}</a>
                    <br/>
                </div>

                <div data-role="collapsible" class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="scol" style="margin: 0 10px 0;">
                    <h5>{% trans "Sensoren und Ausgänge" noop %}</h5>
                    <fieldset data-role="controlgroup">
                        {% for sensor in sensoren %}
                            <label>
                                <input name="{{ sensor.get_identifier }}" id="{{ sensor.get_identifier }}" type="checkbox" class="cb" data-mini="true">{{ sensor }}
                            </label>
                        {% endfor %}
                        {% if ms and not rlonly %}
{#                          bei reiner rlr waere der zielwert fuer das logging einigermassen schwer zu bekommen in getandset, deswegen lassen wir das einfach weg  #}
                        <label>
                            <input name="raum_{{ raum.id }}_ziel" id="raum_{{ raum.id }}_ziel" type="checkbox" class="cb" data-mini="true">{% trans "Zieltemperatur" noop %}
                        </label>
                        {% endif %}
                        {% for out in outs %}
                        <label>
                            <input name="out_{{ out.0 }}_{{ out.1 }}" id="out_{{ out.0 }}_{{ out.1 }}" type="checkbox" class="cb" data-mini="true" {% if forloop.first %}checked="checked"{% endif %} />Ausgang {{ out.1 }} an {{ out.0 }}
                        </label>
                        {% endfor %}
                    </fieldset>
                </div>
            </ul>
            <div>
                <span><br> <br></span>
            </div>
        </div>
    {% endif %}

    {% if hfo_module %}

    {% ifnotequal raum.regelung.regelung 'funksollregelung' %}
        <div id="genius" style="margin:0;margin-top: 0px; margin-bottom: 16px; margin-left: 10px">
            <h5 style="margin: 0px;padding-top: 20px">&nbsp;{% trans "Fußbodenheizung-Genius" noop %}</h5>
        </div>
    {% endifnotequal %}

    <div data-role="collapsible" class="ui-alt-icon collaps-HFO" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="" style="margin:0;display: none;" data-collapsed="true">
        <h5>
            {% trans "Aktueller Regelschritt" noop %} ({{strategy_mode}})
            <span class="desc-text">
                {{hfo_log.0}}
            </span>
        </h5>
        <p>{{hfo_log.1}}</p>
        <p class="link-to" onclick="window.location='/m_raum/{{raum.id}}/heizflaechenoptimierung/regelstrategie/';">Zu den FBH Genius Einstellungen></p>
    </div>
{#    {% endif %}#}

    {% if ki_active and wetter_pro_active %}
    <div data-role="collapsible" class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="" style="margin:0;overflow-wrap: normal;" data-collapsed="true">
        <h5 style="margin-top: 0px">
            <span class="desc-text">
                <ul data-role="listview">
                    <span class="clock-icon" style="margin-left: -3px" ><img src="/static/icons/icon_ki.png" width="25" height="25"></span>
                    <span class="temp-text" style="margin-left: -5px"> <b>KI-Lernfortschritt </b></span>
                </ul>
                <p style="padding-left: 27px; margin-top: -2px; color: grey"> Die KI erreicht {{score}}% ihrer max. Genauigkeit.<br> </p>
                <br> <progress value={{score}} max="100", style="width: 85%; margin-left: 26px; margin-top: -12px"></progress> <br> <br>
            </span>
        </h5>

        <p class="link-to" onclick="window.location='/m_raum/{{raum.id}}/heizflaechenoptimierung/regelstrategie/';" style="color: grey; font-size: 14px; padding-left: 36.5px"> Zu den FBH Genius Einstellungen > </p>
    </div>
    {% elif ki_active %}
    <div data-role="collapsible" class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="" style="margin:0;overflow-wrap: normal;" data-collapsed="true">
        <h5 style="margin-top: 0px">
            <span class="desc-text";>
                <ul data-role="listview">
                    <span class="clock-icon", style="margin-left: -3px" ><img src="/static/icons/icon_ki.png" width="25" height="25"></span>
                    <span class="temp-text", style="margin-left: -5px"> <b>KI-Lernfortschritt </b></span>
                </ul>
                <p style="padding-left: 27px; margin-top: -2px; color: grey;"> Die KI ist nicht aktiv. Bitte Modul Wetter-PRO aktivieren.<br> </p>
                <br> <progress value=0 max="100", style="width: 85%; margin-left: 26px; margin-top: -12px"></progress> <br> <br>
            </span>
        </h5>
        <p style="color: grey; font-size: 14px; padding-left: 36.5px; padding-right: 36.5px">
            Die KI (künstliche Intelligenz) bezieht in kurzen Abständen Wetterparameter
            (z.B. Vorhersagen für Temperatur, Bedeckungsgrad, Luftfeuchte, Wind, Regen, etc.) und benötigt
            daher zwingend das Modul Wetter-PRO. <br> <br>
        </p>
        <p class="link-to" onclick="window.location='/m_setup/{{ haus.id }}/module/';" style="color: grey; font-size: 14px; padding-left: 36.5px"> zu den Modul-Aktivierungen > </p>
    </div>
    {% endif %}
    {% endif %}

    {% for kid, params in kaminofen_lst %}
    <div  class="collaps-HFO kaminofen-row"  id="" >
        <img src="/static/icons/icon_kaminofen.png">
        <h5>
            Kaminofen Regelungsanpassung „ {{ params.name }}
            <span class="desc-text">
                Differenztemperatur: {{ params.differenztemperatur }} /
                Regelungsanpassung: {% if params.active %} <span class="red-str">Aktiv</span> {% else %} AUS {% endif %}
            </span>
        </h5>
    </div>
    {% endfor %}


    <ul data-role="listview" class="ziel_funk" style="display: None">
        <li>
            <a href="/m_raum/{{raum.id}}/funksollregelung/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                <span class="clock-icon"><img src="/static/icons/icon_hochtarifoptimierung.png" width="20" height="20"></span>
                <span class="temp-text"> Heizkörper-Genius </span>
                <span class="desc-text">
                    Korrigiert die Heizkörpertemperatur durch zusätzlichen Raumsensor.
                </span>
            </a>
        </li>
    </ul>

    <div data-role='collapsible' class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id='cmods' style="margin: {% if logging %}41px 0 -9px;{% else %}0px;{% endif %}" data-collapsed="false">
        <h5 style="margin: 0px;">&nbsp;{% trans "Module" noop %} <span class="ui-li-aside offset" style="margin-top:0px;  float: right;margin-right: 27px;">{% autoescape off %}{{ offset }}{% endautoescape %}</span></h5>
        <ul data-role="listview" data-id="{{raumid}}" style="margin: 0px">
                {% for ileft, icon, iright, ir_width, ilink in mods %}
                    <li>
                    {% if ilink %}
                        <a href="{{ ilink }}" style="max-height: 20px; padding: 10px 0; font-size: 14px;">
                    {% endif %}

                    {% autoescape off %}
                        <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-{{icon|slugify }} module-icon">&nbsp;</span>
                            <span class="module_name"> {{ ileft }} </span>
                    {% endautoescape %}

                    {% if iright %}
                        <span class="ui-li-aside module-temp offset" style="width:{{ ir_width }}px;">

                            {% autoescape off %}
                                {% if iright == "deaktiviert" or iright == "nicht aktiv" or iright == "0.00 &deg;C" or iright == "-0.00 &deg;C" or iright == "0.0 &deg;C" or iright == "-0.0 &deg;C" %}
                                0.00
                                {% else %}
                                {{ iright }}
                                {% endif %}
                            {% endautoescape %}
                        </span>
                    {% endif %}

                    {% if ilink %}
                        </a>
                    {% endif %}
                    </li>

                {% endfor %}

        </ul>

    </div>
    {% if lines %}
        <div data-role='collapsible' class="ui-alt-icon" data-collapsed-icon="arrow-u" and data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id='cmods' style="margin: 41px 0 -9px" data-collapsed="false" data-collapsed="false">
            <h5 style="margin: 0px;  ">&nbsp;{% trans "Sensorenübersicht" noop %}</h5>

            <ul data-role="listview" id="sensor" >
                {% for left, right, r_width, link in lines %}
                <li>
                    {% if link %}
                        <a href="{{ link }}" style="max-height:20px;">
                    {% endif %}

                    {% autoescape off %}
                        {{ left }}
                    {% endautoescape %}

                    {% if right %}
                        <span class="ui-li-aside" style="width:{{ r_width }}px; margin-top:0; margin-bottom: 0; font-size: small;">
                            {% autoescape off %}
                                {{ right }}
                            {% endautoescape %}
                        </span>
                    {% endif %}
                    {% if link %}
                        </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
        <div id="popupTempContent">
        <span class="popupTempIcon"><img src=""> </span><span class="popupTempName"></span>
        <label for="popupTempInput">{% trans "Solltemperatur:" noop %}</label>
        <input type="text" name="popupTempInput" id="popupTempInput" value="">
        <a href="#" id="popupTempSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">{% trans "Speichern" noop %}</a>
        </div>
    </div>

    <div data-role="popup" id="popupTime" data-theme="a" class="ui-corner-all">
            <div class="popupTimeContent">
                <div class="align-center">
                    <div class="popup_room_icon"><img alt="icon" width="25" height="25"/></div>
                                    <div class="popup_raum_name">{{raum.name}}</div>
                    <input type="hidden" id="popup_room_id">
                </div>
                <div class="align-center">
                    Manueller Zielwert bis <span class="showtime">{{time}}</span>
                </div>
                <div class="align-center">
                    <input type="number" data-type="range" name="time" id="time" value="0" min="0" max="720" step="5" data-mini="true" data-highlight="true" data-popup-enabled="true" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
                </div>
                <div class="align-center time_row">
                    <div class="slider_left">0h</div>
                    <div class="slider_center">6h</div>
                    <div class="slider_right">12h</div>
                </div>
                <div class="align-center">
                    <a href="#" id="popupTimeSave" class="ui-btn">Manuellen Zielwert in diesem Raum löschen</a>
                </div>
            </div>
    </div>
{% endblock %}
