{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Raumgruppen{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/raumgruppen/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        {% if user.id == haus.eigentuemer_id or user.userprofile.get.role != 'K' %}

            <!-- <a href="/m_setup/{{haus.id}}/raumgruppen/?rgdel={{rg.id}}" data-role="button" data-icon="delete" data-mini="true" data-inline="true" class="ui-btn-right" data-iconpos="notext"></a> -->
            <a href="/m_setup/{{haus.id}}/raumgruppen/?rgdel={{rg.id}}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
            <a href="http://support.controme.com/bedienung-module/modul-raumgruppen/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px;"></a>
        {% else %}
            <a href="http://support.controme.com/bedienung-module/modul-raumgruppen/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
        {% endif %}
{% endblock %}

{% block mcontent %}

<form method="post" action="/m_setup/{{haus.id}}/raumgruppen/" data-ajax="false" id='rgeform'> {% csrf_token %}
<ul data-role="listview" data-split-icon="delete" data-split-theme='c' id='rgraumliste'>
    <li data-role='list-divider'>Name</li>
    <li>
        <input type="text" name="rgname" value="{{rg.name}}"/>
    </li>
    <li data-role="list-divider" id="rgraeume">
        R&auml;ume
    </li>
    <!--
    {% for raum in rgraeume %}
        <li><a>{{raum.etage.name}}/{{raum.name}}</a><a href='/m_setup/{{haus.id}}/raumgruppen/?rgid={{rg.id}}&rid={{raum.id}}' onclick='$(this).parent().remove()'>&nbsp;</a></li>
    {% endfor %}
    -->
    {% for e, raeume in sraeume %}
        {% for raum in raeume %}
            <li><a>{{ e }}/{{ raum.0 }}</a><a href='/m_setup/{{haus.id}}/raumgruppen/?rgid={{rg.id}}&rid={{raum.1.id}}' onclick='$(this).parent().remove()'>&nbsp;</a></li>
        {% endfor %}
    {% endfor %}

    <li data-role="list-divider">
        Raum hinzuf&uuml;gen
    </li>    
    <li>
        <label for="raum">R&auml;ume</label>
        {% for e in eundr %}
        {% for etage, raeume in e.items %}
            <br/>{{ etage.name }}<br/>
            {% for raum in raeume %}
                {% if not raum in rgraeume %}
                <label>
                    <input class="cb" type="checkbox" data-mini="true" name="rsel{{ raum.id }}" id="rsel{{ raum.id }}" selected/>
                    {{ raum.name }}
                </label>
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% endfor %}
    </li>
    {% if error %}
    <li>
        <div style="color:#cb0963">{{error}}</div>
    </li>
    {% endif %}
    <li data-icon='false'>
        <input type="hidden" value="{{rg.id}}" name="rgid" id="rgid"/>
        <input type="hidden" value="true" name="rgedit" id="rgedit"/>
        <!--input type="submit" class="btn btn-primary" value="Raumgruppe speichern" {% if haus.eigentuemer != request.user %}disabled="true"{% endif %}/-->
        <a href="#" onclick="$('#rgeform').get(0).submit();" style="text-align:center">Raumgruppe speichern</a>
    </li>    
</ul>
</form>
{% endblock %}