{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Betriebsarten" %}{% endblock %}
{% block bodyclass %}page betriebsarten heizen und kühlen{% endblock %}
{% block mheader %}

    <span><a href="https://support.controme.com/betriebsarten-heizen-und-kuehlen/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<p style="text-align: center;font-size:16px;;">Betriebsarten</p>

<script>
  $(document).ready(function () {
        $('input[name="groupAll"]').click(function() {

         {% for e in eundr %}
            {% for etage, raeume in e.items %}
              {% for raum in raeume %}
                elem = $('#' +this.value +'-{{raum.id}}');
                elem.prop('checked', true).checkboxradio("refresh");
                $('input[name="group{{raum.id}}"]').not(elem).prop('checked', false).checkboxradio("refresh");
              {% endfor %}
            {% endfor %}
          {% endfor %}


        });

  });
</script>

<form action="/m_betriebsarten/{{ haus.id }}/" name="MyForm" method="post" data-ajax="false">{% csrf_token %}
<div data-role="tabs" id="tabs" style="padding: 0px">
    <div id="mylist" >
     <table class="table-td-th, -table">
         <tr>
         <th colspan="3" class="table-td-th, -th" style="text-align: center">Alle</th>
         </tr>
        <tr>
            <td class="table-td-th"><input type="radio" name="groupAll" id="1" value="1"/>
                <label id="forlabel" for="1" data-corners="false" style="color: #019BB0">kühlen</label></td>
            <td class="table-td-th"><input type="radio" name="groupAll" id="0" value="0"/>
                <label id="forlabel" for="0" data-corners="false">aus</label></td>
            <td class="table-td-th"><input type="radio" name="groupAll" id="2" value="2"/>
                <label id="forlabel" for="2" data-corners="false" style="color: #cb0963">heizen</label></td>
        </tr>
        </table>
        {% for e in eundr %}
            {% for etage, raeume in e.items %}
            {% for raum in raeume %}
                <table class="table-td-th, -table">
                <tr>
                <th colspan="3" class="table-td-th, -th" style="text-align: center">{{ raum.name }}</th>
                </tr>
                <tr>
                    <td class="table-td-th"><input type="radio" name="group{{raum.id}}" id="1-{{raum.id}}" {% if raum.mode == '1'%} checked='checked' {%endif%} value="1"/>
                        <label id="forlabel" for="1-{{raum.id}}" data-corners="false" style="color: #019BB0">kühlen</label></td>
                    <td class="table-td-th"><input type="radio" name="group{{raum.id}}" id="0-{{raum.id}}" {% if raum.mode == '0'%} checked='checked' {%endif%} value="0"/>
                        <label id="forlabel" for="0-{{raum.id}}" data-corners="false">aus</label></td>
                    <td class="table-td-th"><input type="radio" name="group{{raum.id}}" id="2-{{raum.id}}" {% if raum.mode == '2'%} checked='checked' {%endif%} value="2"/>
                        <label id="forlabel" for="2-{{raum.id}}" data-corners="false" style="color: #cb0963">heizen</label></td>
                </tr>
                </table>


            {% endfor %}
            {% endfor %}
        {% endfor %}


            <input type="submit" value='{% trans "speichern" %}' style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>
    </div>
</div>
        </form>

{% endblock %}
