{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - betriebsarten{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{ haus.id }}/betriebsarten/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if entity_id %}
        <a href="/m_setup/{{haus.id}}/betriebsarten/delete/{{entity_id}}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
    {% endif %}
{% endblock %}

{% block mcontent %}
<style type="text/css">
    .betrieb-summery{
        font-size: medium;
        margin: 0;
    }
    .error{
        color: #cb0963;
    }

</style>
<script type="text/javascript">
    $(document).ready(function() {
        $(".betriebsarten-room-selection .select-all").change(function(){
            var elem  = $(".select-room input[class=room]");
            if($(this).is(':checked')){
                elem.prop('checked', true).checkboxradio("refresh");
            }else{
                elem.prop('checked', false).checkboxradio("refresh");
            }
        });
        $(".betriebsarten-room-selection input[class=room]").change(function(){
            var elem  = $(".betriebsarten-room-selection .select-all");
            if(!$(this).is(':checked')){
                elem.prop('checked', false).checkboxradio("refresh");
            }style="color: #019BB0"
        });

        $('#submit-form').click(function (e) {
            let abfrage = $('#fps-abfrage').val()
            if(abfrage == '-1'){
                $('.error').text('FPS-Abfrage, can not be empty');
                $('.error').show();
                e.preventDefault();
            }
            else{
                $('#betrieb-form').get(0).submit();
            }
        })
    });
</script>

<form method="post" action="/m_setup/{{haus.id}}/betriebsarten/edit/{% if entity_id %}{{ entity_id }}/{% endif %}" data-ajax="false" id='betrieb-form'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Automatische Betriebsart-Umschaltung</li>
        <li class="error" style="display: none;">d</li>
        {% if entity_id %}
        <li>
            <p class="betrieb-summery">Letzte Prüfung: {{ b_params.last_check}}</p>
            <p class="betrieb-summery">nächste Prüfung: {{ b_params.next_check }}</p>
            <p class="betrieb-summery">Ergebnis: <b>{{b_param.result}} </b> </p>
        </li>
        {% endif %}

        <li>
            <div data-role="fieldcontain">
                <label for="name" style="vertical-align: middle;">Name</label>
                <input type="text" name="name" id="name" value="{{ b_param.name }}" required/>
            </div>
        </li>
        <li>
            <div data-role="fieldcontain">
                <label for="fps-abfrage" style="margin-top: .5em;">FPS-Abfrage</label>
                <select name="fps_abfrage" data-mini="true" id="fps-abfrage">
                    <option value="-1" >FPS auswählen</option>
                    {% for id, name in regs %}
                        <option value="{{ id }}" {% if id == b_param.fps_abfrage %} selected {% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <span>
                Die nachfolgend gewählten Räume werden auf den gewählten Modus gesetzt,
                sobald die FPS-Abfrage TRUE ist. Dies wird alle 10 Minuten kontrolliert. Sofern die FPS-Abfrage FALSE ist,
                wird der Raum nach 30 Minuten (dadurch sind weitere Abfragen möglich) auf den Standardwert „heizen“ gesetzt.
            </span>
        </li>
        <li>
            <div>
                <table style="width: 100%;">
                    <tr>
                        <th width="50%">
                            <input type="radio" name="cooling" id="cool" value="1" {% if b_param.cooling == '1'  %} checked {% elif not entity_id%} checked {% endif %} />
                            <label id="cool-label" for="cool" data-corners="false">kühlen</label>
                        </th>
                        <th width="50%">
                            <input type="radio" name="cooling" id="aus" value="0" {% if b_param.cooling == '0' %} checked {% endif %} />
                            <label id="aus-label" for="aus" data-corners="false">aus</label>
                        </th>
                    </tr>
                </table>
            </div>
        </li>
        <li class="betriebsarten-room-selection">
            <div  class="select-room">
                <h2>Raum-Auswahl</h2>
                <input type="checkbox" name="select-all" value="select-all" id="select-all"
                       class="select-all" {% if select_all_room %}checked="checked"{% endif %} />

                <label id="select-all-label" for="select-all" data-corners="false" class="bold" >
                    alle Räume auswählen
                </label>
                {% for e in eundr %}
                    {% for etage, raeume in e.items %}
                        {% for r in raeume %}
                            <input type="checkbox" name="rooms" value="{{ r.id }}" class="room"
                                    data-house="{{ etage.id }}" style="border-bottom-width: 1px;margin-left: 15px;"
                                    id="room-{{ r.id }}"
                                   {% if r.id|stringformat:"i" in b_param.rooms %}checked="checked"{% endif %} />
                            <label for="room-{{ r.id }}" style="border-bottom-width: 1px;margin-left: 15px;" class="line-border">
                                <img width="20" src="/static/icons/{{ r.icon }}.png"/>&nbsp;
                                {{etage.name}} | {{ r.name }}
                            </label>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </li>
         <li data-icon='false'>
            <a href="#" id="submit-form" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>

{% endblock %}
