{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - R&uuml;cklaufregelung{% endblock %}
{% block bodyclass %}page ruecklaufregelung{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-ruecklaufregelung/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_raum/{{raum.id}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<script language="javascript" type="text/javascript" src="/static/jquery.flot_0.8.1min.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
<script type="text/javascript">
    var plot = null;
    $(document).on('pageshow', function(){
        drawPlot();
        $(".hideli").hide();
        $('#raumrlrlv').listview('refresh', true);

        var previousPoint = null;
        $("#placeholder").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                            y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY,
                            "bei " + parseInt(x) + "&deg;C Aussentemperatur " + parseInt(y) + "&deg;C R&uuml;cklauftemperatur");
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    });

    function drawPlot() {
        var h_slope = parseFloat({{h_slope}});
        var h_offset = parseInt({{h_offset}});
        var h_bend = parseFloat({{h_bend}});
        var slope = $("#slope").val();
        var offset = parseInt($("#offset").val());
        var bend = $("#bend").val();

        var options = {
                        lines: {show: true},
                        grid: {
                            hoverable: true,
                            clickable: true
                        },
                        xaxis: {
                            transform: function(v) { return -v; },
                            inverseTransform: function(v) { return -v; },
                            axisLabel: "Aussentemperatur",
                            axisLabelUseCanvas: true,
                            axisLabelFontSizePixels: 12,
                            axisLabelFontFamily: 'Verdana, Arial',
                            axisLabelPadding: 10
                        },
                        yaxis: {
                            min: 0,
                            max:50,
                            axisLabel: "Rücklauftemperatur",
                            axisLabelUseCanvas: true,
                            axisLabelFontSizePixels: 12,
                            axisLabelFontFamily: 'Verdana, Arial',
                            axisLabelPadding: 10
                        }
        };
        var d1 = [];
        var d2 = [];

        for (var i = 40; i > 0; i -= 0.1) {
            d2.push( [ 20-i, offset + (6-slope) * (Math.sqrt(Math.pow(i,bend))) ] );
            d1.push( [ 20-i, h_offset + (6-h_slope) * (Math.sqrt(Math.pow(i,h_bend))) ] );
        }

        if(plot != null) {
            plot.setData(d1);
            plot.setupGrid();
            plot.draw();
        } else {
            $.plot("#placeholder", [{ data: d1 }, { data: d2 }], options);
        }
    }

    function showTooltip(x, y, contents) {
        $("<div id='tooltip'>" + contents + "</div>").css({
            position: "absolute",
            display: "none",
            top: y + 5,
            left: x + 5,
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    function showAdvanced() {
        $('.hideli').toggle();
        drawPlot();
    }
</script>
<style type="text/css">
    label.ui-btn, div.ui-btn {
        font-weight: normal;
    }
    .ui-btn-text {font-weight:normal;}
    #igrid .ui-slider-input {
        display: none !important;
    }
    #igrid .ui-slider-track {
        margin-left:15px;
    }
</style>

{% if raum.name %}
<a data-role="none" href="/m_raum/{{ raum.id }}/" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        <img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}
    </div>
</a>
{% endif %}

<form action="/m_raum/{{raum.id}}/ruecklaufregelung/" method="post" data-ajax='false' id='rlrrform'>{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id='raumrlrlv'>
        <li data-role='list-divider'>R&uuml;cklaufregelung</li>

        <li data-icon='false'>
            <a href="#" onclick="showAdvanced();" style="text-align:center">erweiterte Einstellungen</a>
        </li>

        <li class="hideli" style="overflow: auto; white-space: normal">
            In den meisten Fällen gewährleisten die Voreinstellungen eine gute Regelung. Ändern Sie die erweiterten
            Einstellungen, wenn Ihre Regelung aufgrund äußerer Umstände nicht zufriedenstellend funktioniert.
        </li>

        <li class="hideli">
            <div id="wgrid">
                <hr/>
                <br/>
                <label>Heizkennlinie</label>

                <div class="ui-grid-c">
                    <div class="ui-block-a" style="width:15%">

                    </div>
                    <div class="ui-block-b" id="placeholder" style="height:400px; width:70%; min-width:600px;">

                    </div>
                    <div class="ui-block-c" style="width:15%" id="ls">

                    </div>
                </div>
                <br/>

                Neigung <br/>

                <div class="ui-grid-c">
                    <div class="ui-block-a" style="width:15%;text-align: right">

                    </div>
                    <div class="ui-block-b" style="width:70%">
                        <input type="range" id="slope" name="slope" value="{{ a }}" min="0" max="7" step="0.01"
                               data-mini="true" onchange="drawPlot()"/>
                    </div>
                    <div class="ui-block-c" style="width:15%">

                    </div>
                </div>

                Offset <br/>

                <div class="ui-grid-c">
                    <div class="ui-block-a" style="width:15%;text-align: right">

                    </div>
                    <div class="ui-block-b" style="width:70%">
                        <input type="range" id="offset" name="offset" value="{{ c }}" min="0" max="50" step="1"
                               data-mini="true" onchange='drawPlot();'/>
                    </div>
                    <div class="ui-block-c" style="width:15%">

                    </div>
                </div>

                Krümmung <br/>

                <div class="ui-grid-c">
                    <div class="ui-block-a" style="width:15%;text-align: right">

                    </div>
                    <div class="ui-block-b" style="width:70%">
                        <input type="range" id="bend" name="bend" value="{{ k }}" min="1" max="2" step="0.05"
                               data-mini="true" onchange='drawPlot();'/>
                    </div>
                    <div class="ui-block-c" style="width:15%">

                    </div>
                </div>

                <br/>

                <small style="overflow: auto; white-space: normal">
                    Die Heizkennlinie sollte grob der am Wärmeproduzenten eingestellten Kennlinie für die Vorlauftemperatur
                    entsprechen. Anhand der Heizkennlinie für die Rücklauftemperatur wird berechnet, welche Temperatur
                    der Rücklauf eines Heizkreises in Abhängigkeit von der Außentemperatur zum Beheizen eines Raumes
                    erreichen soll.<br/>
                </small>

                <br/>
                <hr/>
                <br/>
                Raumspezifischer Überschwingschutz

                <style type="text/css">
                    #igrid .ui-slider-input {
                        display: none !important;
                    }
                    #igrid .ui-slider-track {
                        margin-left:15px;
                    }
                </style>
                <div class="ui-grid-b" id='igrid'>
                    <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right; padding-right:15px;padding-top:8px;">
                        schwach
                    </div>
                    <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                        <input type="range" name="s" id="s" value="{{schaerfe}}"
                                       min="0" max="1" step="0.1"  data-mini="true" data-highlight="true"
                                       data-popup-enabled="true"/>
                    </div>
                    <div class="ui-block-c"  style="min-width:30px;max-width:20%; padding-left:15px;padding-top:8px;">
                        stark
                    </div>
                </div>

                <br/>

                <small style="overflow: auto; white-space: normal">
                    Der Überschwingschutz kommt in Räumen zum Tragen, in denen neben den Rücklaufsensoren auch ein
                    Raumtemperatursensor installiert ist. Sofern der Raumtemperatursensor nicht von der Regelung ignoriert
                    wird (siehe Raumeinstellungen), nimmt der Überschwingschutz Einfluss, wenn die Fußbodenheizung sehr
                    schnell (stark) oder sehr träge (schwach) reagiert.<br/>
                </small>

                <br/>
                <hr/>
                <br/>
                Abschaltungsdauer nach Erreichen der Rücklauftemperatur

                <div class="ui-grid-b">
                    <div class="ui-block-a" style="min-width:30px; max-width:20%; text-align:right; padding-right:15px; padding-top:8px;">
                        in Minuten:
                    </div>
                    <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                        <input type="range" name="interval" id="interval" value="{{ intervall }}"
                                       min="10" max="720" step="10"  data-mini="true" data-highlight="true"
                                       data-popup-enabled="true"/>
                    </div>
                    <div class="ui-block-c"  style="min-width:30px;max-width:20%; padding-left:15px;padding-top:8px;">

                    </div>
                </div>

                <br/>
                <hr/>

                <label style="margin-top:11px;margin-bottom:0px">
                    <input type="checkbox" name="ignorems" {% if rlonly %}checked{% endif %} {% if not raum.get_mainsensor %}disabled{% endif %}/>
                    Raumtemperatursensor zur Regelung ignorieren {% if not raum.get_mainsensor %}(momentan kein Raumtemperatursensor vorhanden){% endif %}
                </label>

                <br/>

                <small style="overflow: auto; white-space: normal">
                    Ein ggf. vorhandener Raumtemperatursensor kann von der Regelung ausgeschlossen, in der Raumliste
                    und in der Raumseite aber weiterhin angezeigt werden.
                </small>
            </div>
        </li>
        <li data-icon='false' style="padding:0px;" class="hideli">
            <a href="#" onclick="$('#rlrrform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>
{% endblock %}