{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Vorlauftemperaturregelung{% endblock %}
{% block bodyclass %}page differenzregelung vorlauftemperaturregelung{% endblock %}
{% block mheader %}

{% endblock %}

{% block mcontent %}
    <style type="text/css">
        div.ui-btn {
            font-weight: normal;
        }
        .innerul li { width: 20em; }
        .ext-right {float:right;}
    </style>

    <ul data-role="listview" data-divider-theme="c" id="mrlv" style="margin-top: -8px">
        <li data-role='list-divider'>
            <div class="diff-header">
                 <div class="diff-icon">
                     <a href="https://support.controme.com/auswahl-und-aktivierung-von-modulen/modul-raumanforderung/" target="_blank">
                        <div class="bulb"><img src="/static/icons/bulb-icon-grey.png" width="25">
                     </a></div>
                 </div>
                 <div class="diff-name bold overflow-text overflow-ellipsis"><span style="color: #bddfe6;">RA:</span> {{ config.name }}</div>
                 <div class="diff-link"><i><a  href="/m_setup/{{haus.id}}/pumpenlogik/?plid={{ objid }}" target="_blank"><img src="/static/icons/settings-icon-grey.png" width="25"></a></i></div>
            </div>
        </li>
        <li>{{ response }}</li>
        <li>
            <p style="font-size: medium !important;">Eingang:</br></br>
            {% for input in config.input %}

                {{ input.1 }}: {{ input.2 }}</p>

            {% endfor %}
        <p style="font-size: medium !important;">Werte:</br></br>
        {% for out in config.output %}
            {{ out.1 }}: {{ out.2 }}</p>
        {% endfor %}
        </li>

        <li><p style="font-size: medium !important;">Letzter ausgegebener Wert: {% if last == None %} - {% else %} {{ last }} {% endif %}</p>
        </li>
    </ul>

{% endblock %}
