{% extends "m_base.html"%}

{% block title %}heizManager - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/chat-und-notifications-per-telegram/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<form method="post" id="tglist" action=".">{% csrf_token %}
<ul data-role="listview" data-divider-theme="a">
    <li data-role="list-divider" id="mixers">Chat-Bot</li>
    <li>
        <label for="apikey">API-Key des Bots</label>
        <input type="text" name="apikey" id="apikey" value="{{ apikey }}"/>
        <small>
            Um einen Bot in Telegram anzulegen, öffnen Sie einen Chat mit dem Benutzer @BotFather und
            folgen Sie den Anweisungen zum Anlegen eines Bots. Am Ende des Einrichtungsprozesses erhalten Sie den
            API-Key. Bitte achten Sie auf die korrekte Groß- und Kleinschreibung.<br/>
            Bei Ersteinrichtung des Bots kann es nötig sein, den Miniserver neuzustarten, wenn der Bot nicht auf
            Nachrichten antwortet.
        </small>
    </li>
    {% if err %}
    <li style="color: #cb0963;">
        {{ err }}
    </li>
    {% endif %}
    <li>
        <h3>Zugelassene Benutzer</h3>
        {% for usr in users %}
        <label for="user_{{ usr.id }}">{{ usr.email }}</label>
        <input type="text" name="user_{{ usr.id }}" id="user_{{ usr.id }}" value="{{ usr.tgname.0 }}" placeholder="Telegram-Benutzername"/>
        {% endfor %}
        <small>
            Nur hier authorisierte Benutzer können mit Ihrem Bot chatten. Ihren Benutzernamen (NICHT den des Bots) finden Sie in der
            Telegram-App in den Einstellungen, er beginnt immer mit einem '@'. Hier authorisierte Benutzer müssen
            immer zuerst eine Nachricht an den Bot schicken bevor dieser Nachrichten schicken/beantworten kann.
        </small>
    </li>
    <li data-icon='false' style="padding:0px">
        <a href="#" onclick="$('#tglist').get(0).submit();" style="text-align:center">Speichern</a>
    </li>
</ul>
</form>

{% endblock %}
